@model ShopMate.Models.DuePayment

@{
    ViewBag.Title = "Create";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
 
<script src="~/Content/ckeditor/ckeditor.js"></script>

@Html.StarkAjaxFormSubmiter("frmDuePayment", "tbDuePayment", true, "Action Successfully Executed")
 
@{
    if (!Ajax.IsThisAjaxRequest())
    {
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.Title</small>
            </h1>
        </section>
    }
}
<script type="text/javascript">
        $(function () { 
            $('select').searchableOptionList({
                maxHeight: '250px'
            });
        });
</script>
@using (Html.BeginForm("Create", "DuePayment", FormMethod.Post, new { enctype = "multipart/form-data",id = "frmDuePayment"  }))
{
    @Html.AntiForgeryToken()
          <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Fill DuePayment Form</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <div role="form">
                        <div class="box-body">
                              

                            <div class="form-group">
                                @Html.LabelFor(model => model.UserId, new { @class = "" })
                                @Html.DropDownList("UserId"," -Select- ") 
                                @Html.StarkDropDownAjaxLink("/User/Create", "AddMore","")
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DueAmount, new { @class = "" })
                                @Html.EditorFor(model => model.DueAmount)  
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Remarks, new { @class = "" })
                                @Html.EditorFor(model => model.Remarks)  
                            </div>
                            <div class="form-group">
                                @Html.Hidden("AddedBy", Env.GetUserInfo("userid")) 
                            </div>
                            <div class="form-group">
                                @Html.Hidden("DateAdded", DateTime.Now) 
                            </div>
                            <div class="form-group" style="display: none">
                                @Html.LabelFor(model => model.WarehouseId, new { @class = "" })
                                @Env.WareHouseUC(Convert.ToInt32(Env.GetUserInfo("WarehouseId")))
                            </div>




                        </div>
                        <div class="box-footer">
                            @Html.StarkInputButtion("Create New","submit","btn btn-primary","") 
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}



