@model ShopMate.Models.MenuPermission

@{
    ViewBag.Title = "Create";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
 
<script src="~/Content/ckeditor/ckeditor.js"></script>

@Html.StarkAjaxFormSubmiter("frmMenuPermission", "tbMenuPermission", true, "Action Successfully Executed")
 
@{
    if (!Ajax.IsThisAjaxRequest())
    {
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.Title</small>
            </h1>
        </section>
    }
}
<script type="text/javascript">
        $(function () { 
            $('select').searchableOptionList({
                maxHeight: '250px'
            });
        });
</script>
@using (Html.BeginForm("Create", "MenuPermission", FormMethod.Post, new { enctype = "multipart/form-data",id = "frmMenuPermission"  }))
{
    @Html.AntiForgeryToken()
          <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Fill MenuPermission Form</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <div role="form">
                        <div class="box-body">
                              

                            <div class="form-group">
                                @Html.LabelFor(model => model.MenuId, new { @class = "" })
                                @Html.DropDownList("MenuId"," -Select- ") 
                                @Html.StarkDropDownAjaxLink("/Menu/Create", "AddMore","")
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.RoleId, new { @class = "" })
                                @Html.DropDownList("RoleId"," -Select- ") 
                                @Html.StarkDropDownAjaxLink("/Role/Create", "AddMore","")
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserId, new { @class = "" })
                                @Html.DropDownList("UserId"," -Select- ") 
                                @Html.StarkDropDownAjaxLink("/User/Create", "AddMore","")
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SortOrder, new { @class = "" })
                                @Html.EditorFor(model => model.SortOrder)  
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsCreate, new { @class = "" })
                                @Html.EditorFor(model => model.IsCreate)  
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsRead, new { @class = "" })
                                @Html.EditorFor(model => model.IsRead)  
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsUpdate, new { @class = "" })
                                @Html.EditorFor(model => model.IsUpdate)  
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsDelete, new { @class = "" })
                                @Html.EditorFor(model => model.IsDelete)  
                            </div>




                        </div>
                        <div class="box-footer">
                            @Html.StarkInputButtion("Create New","submit","btn btn-primary","") 
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}



