@model ShopMate.ModelDto.StockTakeDto

@{
    /**/

    ViewBag.Title = "Details";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
<section class="content-header">
    <h1>
        @ViewBag.Title
        <small>Details</small>
    </h1>
</section>
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-solid box-primary">
                <div class="box-header">
                    <h3 class="box-title">Detail of StockCheck</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div class="widget-sec">

                        <div class="streaming-table">
                            <div id="div1">
                                <table class="table table-striped table-bordered">                                  
                                    @*<tr>
                                        <td>Fuel Attendant</td>
                                        <td>@Html.DisplayFor(model => model.)</td>
                                    </tr>
                                    <tr>
                                        <td>Stock Value</td>
                                        <td>@Html.DisplayFor(model => model.StockValue)</td>
                                    </tr>
                                    <tr>
                                        <td>Date Added</td>
                                        <td>@Html.DisplayFor(model => model.DateAdded)</td>
                                    </tr>
                                    <tr>
                                        <td>Branch</td>
                                        <td>@Html.DisplayFor(model => model.Warehouse)</td>
                                    </tr>*@
                                    @*<tr>
                                            <td>Route</td>
                                            <td>@Html.DisplayFor(model => model.Route)</td>
                                        </tr>*@
                                    @*<tr>
                                            <td>Route</td>
                                            <td>@Html.DisplayFor(model => model.ProductPrice)</td>
                                        </tr>*@


                                </table>
                                <div class="col-xs-11" style="margin-left:0%;">
                                    <table class="table table-striped table-bordered">
                                        @*<table class="table" style="font-size: 1.8vmin; width: 98%;height: auto;font-weight: 200;margin-right:2%; position: relative;">*@
                                        <thead style="background-color:#e5e2e2;">
                                            <tr>
                                                <th>Product</th>
                                                <th>Actual Qty</th>
                                                <th>Counted Qty</th>
                                                <th>Variance Qty</th>
                                                <th>variance Value</th>
                                                <th> Warehouse</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.StockTakeDetails)
                                            {
                                                <tr>
                                                    <td>@item.ProductId</td>
                                                    <td>@item.actualquantity</td>
                                                    <td>@item.counted</td>
                                                    <td>@item.variance</td>
                                                    <td>@item.variancevalue</td>
                                                    <td>@item.WarehouseId</td>
                                                </tr>
                                            }

                                        </tbody>
                                       
                                    </table>
                                </div>
                                <div class="form-group">
                                    @*<label>Total Price</label>*@
                                    <br />


                                </div>
                            </div>
                            <div class="box-footer">

                                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                                <button onclick="printContent('div1')" btn btn-primary>Print</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function printContent(el) {
        var divEl = document.getElementById(el);
        var allInputs = divEl.querySelectorAll("input,select,textarea");
        for (var counter = 0; counter < allInputs.length; counter++) {
            var input = allInputs.item(counter);
            input.setAttribute("value", input.value);
        }
        var restorepage = document.body.innerHTML;
        var printcontent = document.getElementById(el).innerHTML;
        document.body.innerHTML = printcontent;
        window.print();
        document.body.innerHTML = restorepage;
    }
    $(document).ready(function () {

        $("#Dispatch").click(function (e) {
            var Id = $("#idyangu").Name;
            console.log("Id is: " + Id);
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/Order/Dispatch" + Id,
                data: "",
                success: function (result) {
                    alert("Saved");
                    location.reload();
                },
                error: function (xhr, status, error) {
                    var errorMessage = xhr.status + ': ' + xhr.statusText
                    alert('Error - ' + errorMessage);
                }
            });
            GrossAmount(Sales);


            function GrossAmount(Sales) {
                console.log(Sales);
                var oldAmount = $("#sales").val() || 0;
                var newtotal = parseFloat(oldAmount) + parseFloat(Sales);
                console.log("newtotal: " + newtotal);
                $("#Sales").val(newtotal.toFixed(2));

            }

        });
    });
</script>

