@model ShopMate.Models.RawMaterials

@{
    ViewBag.Title = "Edit";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}

<script src="~/Content/ckeditor/ckeditor.js"></script>

@Html.StarkAjaxFormSubmiter("frmRawMaterials", "tbRawMaterials", true, "Action Successfully Executed")


@{
    if (!Ajax.IsThisAjaxRequest())
    {
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.Title</small>
            </h1> 
        </section>
    }
}

<script type="text/javascript">
        $(function () {
            $('select').searchableOptionList({
                maxHeight: '250px'
            });
        });
       
</script>

@using (Html.BeginForm("Edit", "RawMaterials", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmRawMaterials" }))
{
    @Html.AntiForgeryToken()

        <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Edit Product</h3>
                    </div>
                    <!-- form start -->

                    <div role="form">
                        <div class="box-body">


                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "" })
                                @Html.EditorFor(model => model.Name)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CostPrice, new { @class = "" })
                                @Html.EditorFor(model => model.CostPrice)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductCategory, new { @class = "" })
                                @Html.EditorFor(model => model.ProductCategory)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BarCode, new { @class = "" })
                                @Html.EditorFor(model => model.BarCode)
                            </div>
                            <div class="form-group">
                                @Html.Hidden("AddedBy", Env.GetUserInfo("userid"))
                            </div>
                            <div class="form-group">
                                @Html.Hidden("DateAdded", DateTime.Now)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.StockAlert, new { @class = "" })
                                @Html.EditorFor(model => model.StockAlert)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TaxId, new { @class = "" })
                                @Html.DropDownList("TaxId", " -Select- ")
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.WarehouseId, new { @class = "" })
                                @Env.WareHouseUC(Model.WarehouseId)
                            </div>
                            <div class="form-group" style="display:none">
                                @Html.LabelFor(model => model.RemainingQuantity, new { @class = "" })
                                @Html.EditorFor(model => model.RemainingQuantity)

                            </div>
                            <div class="form-group" style="display:none">
                                @Html.LabelFor(model => model.RemainingAmount, new { @class = "" })
                                @Html.EditorFor(model => model.RemainingAmount)

                            </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            @Html.StarkInputButtion("Save", "submit", "btn btn-primary", "")
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}


