@model ShopMate.Models.Expense

@{
    ViewBag.Title = "Create";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}

<script src="~/Content/ckeditor/ckeditor.js"></script>

@Html.StarkAjaxFormSubmiter("frmExpense", "tbExpense", true, "Action Successfully Executed")

@{
    if (!Ajax.IsThisAjaxRequest())
    {
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.Title</small>
            </h1>
        </section>
    }
}
<script type="text/javascript">
    $(function () {
        $('select').searchableOptionList({
            maxHeight: '250px'
        });
    });


    $(document).ready(function () {
        $('#RefreshPage').click(function () {

            setTimeout(
                function () {
                    window.location.reload(true);
                }, 800);
        });
    });

</script>
@using (Html.BeginForm("Create", "Expense", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmExpense" }))
{
    @Html.AntiForgeryToken()
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Fill Expense Form</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <div role="form">
                        <div class="box-body">
                            <div class="col-xs-12">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Vendorname, new { @class = "" })
                                        @Html.DropDownList("VendorUserId", null, " -Select- ", new { @id = "supplier"})
                                        @*//@Html.DropDownList("", null, new { @Id = "vendorId" })*@
                                        @Html.StarkDropDownAjaxLink("/User/CreateVendor", "AddMore", "")
                                    </div>

                                    @*<div class="form-group">
                                            @Html.DropDownList("VendorUserId", " -Select Vendor- ")
                                            @Html.StarkDropDownAjaxLink("/User/CreateVendor", "AddMore", "")
                                    </div>*@
                                </div>
                                <div class="col-xs-3" readonly>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.VatNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.VatNumber, new { htmlAttributes = new { @class = "form-control col-md-10", @id = "vatNumber" } })
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.InvoiceNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.InvoiceNumber, new { htmlAttributes = new { @class = "form-control col-md-10", @id = "invoiceNumber" } })
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.InvoiceDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.InvoiceDate, new { htmlAttributes = new { @class = "form-control col-md-10", @id = "invoiceNumber" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        @*<label for="ExpenseLedgerId">Select Expense For</label>*@
                                        @Html.DropDownList("ExpenseLedgerId", " -Select Expense- ")
                                    </div>
                                </div>

                            </div>
                            @*</div>*@
                            <div class="col-xs-12">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SubTotal, new { @class = "" })
                                        @Html.EditorFor(model => model.SubTotal)
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TaxAmount, new { @class = "" })
                                        @Html.EditorFor(model => model.TaxAmount)
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Amount, new { @class = "" })
                                        @Html.EditorFor(model => model.Amount)
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                     <label>Currency</label>
                                        @Html.EditorFor(model => model.Remarks)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Hidden("AddedBy", Env.GetUserInfo("userid"))
                            </div>
                            <div class="form-group">
                                @Html.Hidden("DateAdded", DateTime.Now)
                            </div>
                            <div class="form-group" style="display:none">
                                @Html.LabelFor(model => model.WarehouseId, new { @class = "" })
                                @Env.WareHouseUC(Convert.ToInt32(Env.GetUserInfo("WarehouseId")))

                            </div>

                        </div>
                        <div class="box-footer">
                            @*  @Html.StarkInputButtion("Create New", "submit", "btn btn-primary", "")*@
                            <input type="submit" id="RefreshPage" value="Create New" class="btn btn-primary">
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<script>
    $(document).ready(function () {

        $("#supplier").on("change", function () {
            var selectedProductId = $(this).children("option:selected").val();
            var value = $('#dropDownId:selected').val();
            console.log(value);
            $.ajax(
                {
                    url: '/User/GetUserDetails?id=' + $(this).children("option:selected").val(),
                    type: 'GET',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        //alert(data.price);
                        //$("#partialDiv").html(data);
                        $("#vatNumber").val(data.vatNumber );
                      
                    },
                    error: function () {
                        alert("error");
                    }
                });
        });
    });
    var data = JSON.stringify({
        VendorUserId: $("#vendorId").val(),
      // productss: QuotationItemArr,

    });
</script>


