@{
    ViewBag.Title = "Quotation List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuOpen = "Resources";
}
@section ScriptsOrCss
{

    <link href="~/Content/DataTable/new/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/DataTable/new/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Content/DataTable/new/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="~/Content/DataTable/new/jszip.min.js" type="text/javascript"></script>
    <script src="~/Content/DataTable/new/pdfmake.min.js" type="text/javascript"></script>
    <script src="~/Content/DataTable/new/vfs_fonts.js" type="text/javascript"></script>
    <script src="~/Content/DataTable/new/buttons.html5.min.js" type="text/javascript"></script>
    <link href="~/Content/DataTable/new/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/DataTable/new/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/DataTable/new/buttons.print.min.js"></script>
    <script src="~/Content/DataTable/new/buttons.colVis.min.js"></script>
}
<section class="content-header">
    <h1>
        @ViewBag.Title
        <small> @ViewBag.Title</small>
    </h1>
</section>

<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid box-primary">

                <div class="box-body">
                    <!-- Split button -->
                    <div class="margin">
                        <div class="btn-group">
                            @Ajax.ModalDialogActionLink("Create Quick", "Create", "Create ", "btn btn-dropbox")
                        </div>
                        <div class="btn-group">
                            <a href="~/Quotation/Create" class="btn btn-default">Create Full</a>
                        </div>
                    </div>
                    <!-- flat split buttons -->
                </div><!-- /.box-body -->
            </div>
            <div class="box box-solid box-primary">
                <div class="box-header">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div class="margin">

                        <div class="streaming-table">
                            <span id="found" class="label label-info"></span>


                            <table id="tbQuotation" class="display nowrap">
                                <thead>
                                    <tr>
                                        <th>Actions</th>
                                        <th> Id  </th>
                                        <th>AddedBy  </th>
                                        <th>Customer  </th>
                                        <th>IssueDate </th>
                                        <th>SubTotal</th>
                                        <th>VAT</th>
                                        <th>Total</th>
                                        <th>Remarks</th>
                                        @*<th>Date Approved</th>*@
                                        <th>Approved</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                            <div id="summary">
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-solid box-primary">

                <div class="box-body">
                    <!-- Split button -->
                    <div class="margin">
                        <div class="btn-group">
                            @Ajax.ModalDialogActionLink("Create Quick", "Create", "Create ", "btn btn-dropbox")
                        </div>
                        <div class="btn-group">
                            <a href="~/Quotation/Create" class="btn btn-default">Create Full</a>
                        </div>
                    </div>
                    <!-- flat split buttons -->
                </div><!-- /.box-body -->
            </div>
        </div>
    </div>
</section>





<script type="text/javascript">

        $(document).ready(function () {
            var oTableQuotation = "";
            var ControlerNameQuotation = "@Url.Content("~/Quotation")";
            // debugger;
            oTableQuotation = $("#tbQuotation").dataTable({
            "bRetrieve": true,
            "bProcessing": true,
            "dom": 'lBfrtip',
            "sAjaxSource": "@Url.Content("~/Quotation/GetGrid")",
            "buttons": [
                 { extend: 'copyHtml5', exportOptions: { columns: ':visible' } }
                ,{ extend: 'excelHtml5', exportOptions: { columns: ':visible' } }
                ,{ extend: 'csvHtml5', exportOptions: { columns: ':visible' } }
                ,{ extend: 'pdfHtml5', exportOptions: { columns: ':visible' } }
                ,{ extend: 'print', exportOptions: { columns: ':visible' } }
                ,'colvis'
            ], columnDefs: [{   visible: false }],
            "pageLength": 10,
            "lengthMenu": [[5,10, 25, 50, -1], [5,10, 25, 50, "All"]],
                "aoColumns": [

                {
                                 "mRender": function (oObj, type, row) {

 var buttons = '<div class="text-center"> <div class="btn-group text-left"> <button type="button" class="btn btn-default btn-xs btn-warning dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>';
                    buttons += '<ul class="dropdown-menu pull-left" role="menu">';
                                     buttons += '<li class="divider"></li>';
                                     buttons += '<li><a href="' + ControlerNameQuotation + "/print/" + row[0] + '"><i class="fa fa-print"></i>Print</a></li>';
                                   //  buttons += '<li><a href="' + ControlerNameQuotation + "/Details/" + row[0] + '"><i class="fa fa-print"></i>Details</a></li>';
                                     buttons += '<li><a href="' + ControlerNameQuotation + "/Edit/" + row[0] + '"><i class="fa fa-pencil-square"></i>Approve</a></li>';
                                     buttons += '<li><a href="' + ControlerNameQuotation + "/Delete/" + row[0] + '"><i class="fa fa-trash-o"></i>Delete</a></li>';

                    buttons += '</ul>';
                    buttons += '</div></div>';
                    return buttons;
                                 }

        } ,{}
,{}
,{}
,{}
,{}
, {}
                    , {}
                    , {}
                    , {}
//, {}

        ]

        });

        });
</script>

