@model ShopMate.Models.LedgerAccount

@{
    ViewBag.Title = "Are you sure you want to delete";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}


@Html.StarkAjaxFormSubmiter("frmLedgerAccount", "tbLedgerAccount", true, "Action Successfully Executed")

@{
    if (!Ajax.IsThisAjaxRequest())
    {
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.Title</small>
            </h1>
        </section>
    }
}

<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-solid box-primary">
                <div class="box-header">
                    <h3 class="box-title">Detail of LedgerAccount</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                  
                    <div class="widget-sec">
                        <div class="streaming-table">
                            <table class="table table-striped table-bordered">

                                <tr>
                                    <td>Name</td>
                                    <td>@Html.DisplayFor(model => model.Name)</td>
                                </tr>
                                <tr>
                                    <td>ParentId</td>
                                    <td>@Html.DisplayFor(model => model.ParentId)</td>
                                </tr>
                                <tr>
                                    <td>DateAdded</td>
                                    <td>@Html.DisplayFor(model => model.DateAdded)</td>
                                </tr>
                                <tr>
                                    <td>AddedBy</td>
                                    <td>@Html.DisplayFor(model => model.AddedBy)</td>
                                </tr>
                                <tr>
                                    <td>WarehouseId</td>
                                    <td>@Html.DisplayFor(model => model.WarehouseId)</td>
                                </tr>


                            </table>
                            <div class="box-footer">

                                  @using (Html.BeginForm("Delete", "LedgerAccount", FormMethod.Post, new {  id = "frmLedgerAccount" }))
                                {
                                    @Html.AntiForgeryToken()

                                    @Html.StarkInputButtion("Delete","submit","btn btn-danger","")
                                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



