@model ShopMate.Models.Menu

@{
    ViewBag.Title = "Edit";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}

<script src="~/Content/ckeditor/ckeditor.js"></script>

@Html.StarkAjaxFormSubmiter("frmMenu", "tbMenu", true, "Action Successfully Executed")

 
@{
    if (!Ajax.IsThisAjaxRequest())
    {
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.Title</small>
            </h1>
        </section>
    }
}

<script type="text/javascript">
        $(function () { 
            $('select').searchableOptionList({
                maxHeight: '250px'
            });
        });
</script>

@using (Html.BeginForm("Edit", "Menu", FormMethod.Post, new { enctype = "multipart/form-data",id = "frmMenu"  }))
{
    @Html.AntiForgeryToken()

        <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Edit Menu</h3>
                    </div> 
                    <!-- form start -->
  
                    <div role="form">
                        <div class="box-body">
                              

                            <div class="form-group">
                                @Html.LabelFor(model => model.MenuText, new { @class = "" })
                                @Html.EditorFor(model => model.MenuText)  
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MenuURL, new { @class = "" })
                                @Html.EditorFor(model => model.MenuURL)  
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ParentId, new { @class = "" })
                                @Html.DropDownList("ParentId"," -Select- ") 
                                @Html.StarkDropDownAjaxLink("/Menu/Create", "AddMore","")
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SortOrder, new { @class = "" })
                                @Html.EditorFor(model => model.SortOrder)  
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MenuIcon, new { @class = "" })
                                @Html.EditorFor(model => model.MenuIcon)  
                            </div>


                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            @Html.StarkInputButtion("Save","submit","btn btn-primary","") 
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}


