@model ShopMate.Models.InvoiceItems

@{
    ViewBag.Title = "Details";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
<section class="content-header">
    <h1>
        @ViewBag.Title
        <small>Details</small>
    </h1>
</section>
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-solid box-primary">
                <div class="box-header">
                    <h3 class="box-title">Detail of InvoiceItems</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div class="widget-sec">
                        <div class="streaming-table">
                            <table class="table table-striped table-bordered">

                                <tr>
                                    <td>ProductId</td>
                                    <td>@Html.DisplayFor(model => model.ProductId)</td>
                                </tr>
                                <tr>
                                    <td>Quantity</td>
                                    <td>@Html.DisplayFor(model => model.Quantity)</td>
                                </tr>
                                <tr>
                                    <td>SalePrice</td>
                                    <td>@Html.DisplayFor(model => model.SalePrice)</td>
                                </tr>
                                <tr>
                                    <td>TaxAmount</td>
                                    <td>@Html.DisplayFor(model => model.TaxAmount)</td>
                                </tr>
                                <tr>
                                    <td>TotalAmount</td>
                                    <td>@Html.DisplayFor(model => model.TotalAmount)</td>
                                </tr>
                                <tr>
                                    <td>TotalAmountWithTax</td>
                                    <td>@Html.DisplayFor(model => model.TotalAmountWithTax)</td>
                                </tr>
                                <tr>
                                    <td>AddedBy</td>
                                    <td>@Html.DisplayFor(model => model.AddedBy)</td>
                                </tr>
                                <tr>
                                    <td>DateAdded</td>
                                    <td>@Html.DisplayFor(model => model.DateAdded)</td>
                                </tr>
                                <tr>
                                    <td>TaxId</td>
                                    <td>@Html.DisplayFor(model => model.TaxId)</td>
                                </tr>
                                <tr>
                                    <td>PurchaseId</td>
                                    <td>@Html.DisplayFor(model => model.PurchaseId)</td>
                                </tr>
                                <tr>
                                    <td>SaleId</td>
                                    <td>@Html.DisplayFor(model => model.SaleId)</td>
                                </tr>
                                <tr>
                                    <td>ProductStockId</td>
                                    <td>@Html.DisplayFor(model => model.ProductStockId)</td>
                                </tr>
                                <tr>
                                    <td>TransactionId</td>
                                    <td>@Html.DisplayFor(model => model.TransactionId)</td>
                                </tr>
                                <tr>
                                    <td>WarehouseId</td>
                                    <td>@Html.DisplayFor(model => model.WarehouseId)</td>
                                </tr>

 
                            </table>
                            <div class="box-footer">
                                @Ajax.ModalDialogActionLink("Edit", "Edit/" + Model.Id, "Edit", "btn btn-primary") 
                                 
                                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



