@model ShopMate.ModelDto.HomeDto
@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<style>
    h4 {
        font-weight: bold !important;
        font-size: 25px !important;
    }
</style>


<section class="content-header" style="background-color: #ffffff; background-image: url(@Url.Content("~/Content/bg/woven-light.png"));text-align:center;font-weight: bold;font-size: 50px;padding: 0;">
    <span style="background-clip:text; -moz-background-clip: text; -webkit-background-clip: text; text-shadow: 0px 2px 3px rgba(255,255,255,0.5); color: transparent; background-color: #565656; ">ZiPOS Dashboard</span> 
</section>
 
<!-- Main content -->
<section class="content" style="background-color: #ffffff; background-image: url(@Url.Content("~/Content/bg/noise-pattern.png"));">
    
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-6 col-xs-6">
            <form action="" method="post" class="small-box bg-red">

                <div class="form-group">
                    <div class="input-group">
                      
                        <input id="" value="@ViewBag.dates" placeholder="dd/MM/yyyy"name="Date" class="form-control" type="text">

                        <div class="input-group-addon" style="margin:0px;padding:0px;">
                            <input class="btn  bg-navy btn-sm" type="submit" value="Get Report" />
                        </div>

                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="row">

        <div class="col-lg-2 col-xs-3">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h4>  @Model.todayPurchaseCount</h4>
                    <p>Today Purchased</p>
                </div>
                <div class="icon">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <a class="small-box-footer" href="~/Report/TodayPurchase">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-2 col-xs-3">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h4>  @Model.todaySaleCostSum </h4>
                    <p>Today Sale Value</p>
                </div>
                <div class="icon">
                    <i class="fa fa-balance-scale"></i>
                </div>
                <a class="small-box-footer" href="~/Report/TodaySale">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-2 col-xs-3">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h4> @Model.todayProfit</h4>
                    <p>Today Profit</p>
                </div>
                <div class="icon">
                    <i class="fa fa-money"></i>
                </div>
                @*<a class="small-box-footer" href="~//">More info <i class="fa fa-arrow-circle-right"></i></a>*@
            </div>
        </div><!-- ./col -->

        @*<div class="col-lg-2 col-xs-3">
            <!-- small box -->
            <div class="small-box bg-fuchsia">
                <div class="inner">
                    <h4> @Model.todayProfitWithTax</h4>
                    <p>Today Profit With Tax</p>
                </div>
                <div class="icon">
                    <i class="fa fa-money"></i>
                </div>
                @*<a class="small-box-footer" href="~//">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>*@<!-- ./col -->
        <div class="col-xs-4">
            <div class="small-box bg-red">
                <div class="inner">
                    <h4>Overal Stock Movement</h4>
                    <p>
                        Accumulative Received Stocks:<b> @Model.PurchaseItemsQuantity</b> <br />
                        Accumulative Total Sold stocks:@Model.SaleItemsQuantity<b></b><br />
                        Remaining Products:<b> @Model.WarestockRemaining</b> <br />
                        Today Sold items: <b> @Model.todaySaleCount</b>
                    </p>
                </div>
                <div class="icon">
                    <i class="fa fa-warning"></i>
                </div>
                @*<a class="small-box-footer" href="~/Report/WareHouseStock">More info <i class="fa fa-arrow-circle-right"></i></a>*@
            </div>
        </div>
        @*<div class="col-lg-2 col-xs-3">
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h4> </h4>
                        <p> </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-star-o"></i>
                    </div>
                    <a class="small-box-footer" href="~//"> <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>*@
    </div><!-- /.row -->



    <div class="row">
        <!--<div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-aqua">
                <span class="info-box-icon"><i class="fa fa-users"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Orders </span>-->
                    @*<span class="info-box-number">@Model.SalesOrder </span>*@
                    <!--<p>
                        Sale Orders:<b> @Model.todaySaleOrders</b> <br />
                        Processed Orders:<b> @Model.todayProcessedOrders</b> <br />
                    </p>
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                    <a class="small-box-footer" href="~/SaleOrder/">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>-->
    <!-- /.info-box-content -->
            <!--</div>--><!-- /.info-box -->
        <!--</div>-->
    <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="fa fa-user-plus"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text"> Total Customers </span>
                    <span class="info-box-number">@Model.Customer </span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-yellow">
                <span class="info-box-icon"><i class="fa fa-user-secret"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text"> Total Suppliers </span>
                    <span class="info-box-number"> @Model.Vendor </span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-red">
                <span class="info-box-icon"><i class="fa fa-eye"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text"> Total Role </span>
                    <span class="info-box-number">@Model.Role </span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
    </div><!-- /.row -->





    <div class="row">


        <div class="col-md-5">
            <div class="box box-primary direct-chat direct-chat-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Due and Expense</h3>
                    <div class="box-tools pull-right">
                        <button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                        <button data-widget="remove" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div id="bindPieChart"></div>
                </div>
            </div>
        </div>


        <div class="col-md-7">
            <div class="box box-primary direct-chat direct-chat-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Over all details</h3>
                    <div class="box-tools pull-right">
                        <button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                        <button data-widget="remove" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <button class="btn btn-primary btn-xs" id="plain">Plain</button>
                    <button class="btn btn-info btn-xs" id="inverted">Inverted</button>
                    <button class="btn btn-success btn-xs" id="polar">Polar</button>
                    <div class="chart" id="otherInfo"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="box box-primary direct-chat direct-chat-primary">
                <div class="box-header with-border">
                    <h3 style="float:left;margin:0px;">Last 7 Days Sale </h3>
                    <select id="selectLastDays" style="float:left;width:130px;margin-left:20px;">
                        <option value="7">Last 7 Day</option>
                        <option value="30">Last 30 Day</option>
                        <option value="60">Last 60 Day</option>
                        <option value="90">Last 90 Day</option>
                        <option value="120">Last 120 Day</option>
                    </select>

                    <div class="box-tools pull-right">
                        <button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                        <button data-widget="remove" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div class="chart" id="line-chart"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="box box-primary direct-chat direct-chat-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Sale ,Purchase, Returns</h3>
                    <div class="box-tools pull-right">
                        <button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                        <button data-widget="remove" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div class="chart" id="work-chart"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="box box-primary direct-chat direct-chat-primary">
                    <div class="box-header with-border">
                        <h3 style="float:left;margin:0px;">Fast Moving Products</h3>

            
                        <div class="box-tools pull-right">
                            <button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                            <button data-widget="remove" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body chart-responsive">
                        <div class="chart" id="Kyle"></div>
                    </div>
                    <a class="small-box-footer" href="~/Report/FastSale">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

        </div>



    </div>




</section>

<script type="text/javascript">
    $(function () {
        "use strict";
        //DONUT CHART
        var donut = new Morris.Donut({
            element: 'work-chart',
            resize: true,
            colors: ["#004453", "#00e765", "#f75980", "#e51212"],
            data: [
                {
                    label: "Purchase Items", value: "@Model.todayPurchaseCount"
                },
                {
                    label: "Sale Items", value: "@Model.todaySaleCount"
                },
                {
                    label: "Purchase Return Items", value: "@Model.todayPurchaseReturnCount"
                } ,
                {
                    label: "Sale Return Items", value: "@Model.todaySaleReturnCount"
                }
            ],
            hideHover: 'auto'
        });

        $('#reservation').datepicker();

        //there i pass day of last
        BindLastRegister(7);

        $("#selectLastDays").on("change", function () {
            var svalue = $("#selectLastDays").val();
            BindLastRegister(svalue);
        });
        BindLastRegister1();

        $("#selectLastDays").on("change", function () {
            var svalue = $("#selectLastDays").val();
            BindLastRegister1(svalue);
        });
    });


    var chart = Highcharts.chart('otherInfo', {

        title: {
            text: 'Today Purchase, Sale, Profit, Profit with Tax In Amount'
        },

        xAxis: {
            categories: ['Purchase', 'Sale', 'Profit', 'Profit With Tax','Expense','Due Given','Due Return']
        },

        series: [{
            name: 'Total Count',
            type: 'column',
            colorByPoint: true,
            data: [@Model.todayPurchaseCostSum,@Model.todaySaleCostSum,@Model.todayProfit,@Model.todayProfitWithTax,@Model.Expense,@Model.DueGiven,@Model.DueReturn],
            showInLegend: false
        }], chart: {
            inverted: true,
            polar: false
        }

    });


    $('#plain').click(function () {
        chart.update({
            chart: { inverted: false, polar: false },
            subtitle: { text: 'Plain' }
        });
    });

    $('#inverted').click(function () {
        chart.update({
            chart: { inverted: true, polar: false },
            subtitle: { text: 'Inverted' }
        });
    });

    $('#polar').click(function () {
        chart.update({
            chart: { inverted: false, polar: true },
            subtitle: { text: 'Polar' }
        });
    });

    Highcharts.chart('bindPieChart', {
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 33
            }
        },
        title: {
            text: 'Expense,Due Given,Due Return'
        },
        //subtitle: {
        //    text: 'g'
        //},
        plotOptions: {
            pie: {
                innerSize: 100,
                depth: 45
            }
        },
        series: [{
            name: 'Total Count',
            data: [
                ['Expense', @Model.Expense],
                ['Due Given', @Model.DueGiven],
                ['Due Return', @Model.DueReturn],
            ]
        }]
    });

    function BindLastRegister(days) {
        $("#line-chart").html("");
        $.ajax({
            url: "@Url.Content("~/Home/LineChart")",
            type: "Post",
            data: { 'lastDay': days },
            dataType: 'json',//json
            success: function (data) {
                Morris.Line({
                    element: 'line-chart',
                    resize: true,
                    data: data,
                    xkey: 'label',
                    ykeys: ['value'],
                    labels: ['Count'],
                    lineColors: ['#00a65a'],
                    hideHover: 'auto'
                });
            }
        });
    }
    function BindLastRegister1(days) {
        $("#Kyle").html("");
        $.ajax({
            url: "@Url.Content("~/Home/mypieChart")",
            type: "Post",
           // data: { 'lastDay': days },
            dataType: 'json',//json
            success: function (data) {
                console.log(data)
                Morris.Bar({
                    element: 'Kyle',
                    resize: true,
                    data: data,
                    ykeys: ['value'],
                   xkey: ['label'],

                    labels: 'Count',
                    lineColors: ['#00a65a'],
                    hideHover: 'auto'
                });
            }
        });
    }

</script>
