@model ShopMate.Models.Warehouse

@{
    ViewBag.Title = "Edit";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}

<script src="~/Content/ckeditor/ckeditor.js"></script>

@Html.StarkAjaxFormSubmiter("frmWarehouse", "tbWarehouse", true, "Action Successfully Executed")

 
@{
    if (!Ajax.IsThisAjaxRequest())
    {
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.Title</small>
            </h1>
        </section>
    }
}

<script type="text/javascript">
        $(function () { 
            $('select').searchableOptionList({
                maxHeight: '250px'
            });
        });
</script>

@using (Html.BeginForm("Edit", "Warehouse", FormMethod.Post, new { enctype = "multipart/form-data",id = "frmWarehouse"  }))
{
    @Html.AntiForgeryToken()

        <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Edit Warehouse</h3>
                    </div> 
                    <!-- form start -->
  
                    <div role="form">
                        <div class="box-body">
                              

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "" })
                                @Html.EditorFor(model => model.Name)  
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Address, new { @class = "" })
                                @Html.TextAreaFor(model => model.Address, new { @class = "" }) 
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Mobile, new { @class = "" })
                                @Html.EditorFor(model => model.Mobile)  
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "" })
                                @Html.EditorFor(model => model.Email)  
                            </div>
                          <div class="form-group">
                              <label>Number of Users</label>
                                @*@Html.LabelFor(model => model.NumberOfUsers, new { @class = "" })*@
                                @Html.EditorFor(model => model.NumberOfUsers)  
                            </div>

                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            @Html.StarkInputButtion("Save","submit","btn btn-primary","") 
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}


