@model ShopMate.Models.Sale

@{
    ViewBag.Title = "Create";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}

<script src="~/Content/ckeditor/ckeditor.js"></script>

@Html.StarkAjaxFormSubmiter("frmSale", "tbSale", true, "Action Successfully Executed")

@{
    if (!Ajax.IsThisAjaxRequest())
    {
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.Title</small>
            </h1>
        </section>
    }
}
<script type="text/javascript">
    $(function () {
        $('select').searchableOptionList({
            maxHeight: '250px'
        });
    });

    function multi() {
        var Quantity = $("#Quantity").val();
        var SalePrice = $("#SalePrice").val();
        var TotalAmount = Quantity * SalePrice;
        $("#TotalAmount").val(TotalAmount);
    }
</script>
@using (Html.BeginForm("Create", "Sale", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmSale" }))
{
    @Html.AntiForgeryToken()
          <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Fill Sale Form</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <div role="form">
                        <div class="box-body">


                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomerUserId, new { @class = "" })
                                @Html.DropDownList("CustomerUserId", " -Select- ")
                                @Html.StarkDropDownAjaxLink("/User/Create", "AddMore", "")
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductId, new { @class = "" })
                                @Html.DropDownList("ProductId", " -Select- ")
                                @Html.StarkDropDownAjaxLink("/Product/Create", "AddMore", "")
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Quantity, new { @class = "" })
                                @Html.TextBoxFor(model => model.Quantity, new { @onchange = "multi();" })
                            </div>
                            <div class="form-group" style="display:none;">
                                @Html.LabelFor(model => model.SalePrice, new { @class = "" })
                                @*@Html.TextBoxFor(model => model.SalePrice, new { @onchange = "multi();"  })*@
                                <input id="SalePrice"  name="SalePrice" onchange="multi();" value="0" type="text" />
                            </div>
                            
                            <div class="form-group" style="display:none;">
                                @Html.LabelFor(model => model.TotalAmount, new { @class = "" })
                                @*@Html.TextBoxFor(model => model.TotalAmount, new { @readonly = "readonly"  })*@
                                <input id="TotalAmount" name="TotalAmount" onchange="multi();" value="0" type="text" />
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PaymentModeId, new { @class = "" })
                                @Html.DropDownList("PaymentModeId", " -Select- ")
                                @Html.StarkDropDownAjaxLink("/PaymentMode/Create", "AddMore", "")
                            </div>

                            

                            @*<div class="form-group">
                                <label>TAX</label>
                                @Html.DropDownList("TaxId", " -Select- ")
                            </div>*@

                            <div class="form-group">
                                <label>Any Sale Note</label>
                                <br />
                                <textarea id="Description" name="Description"></textarea>
                            </div>

                            <div class="form-group" style="display:none;">
                                @*@Html.LabelFor(model => model.PaidAmount, new { @class = "" })
                                @Html.EditorFor(model => model.PaidAmount)*@
                                <input type="text" name="PaidAmount" value="0"/>
                            </div>
                            
                            <div class="form-group">
                                @Html.Hidden("DateAdded", DateTime.Now)
                            </div>
                            <div class="form-group">
                                @Html.Hidden("ModifiedBy", Env.GetUserInfo("userid"))
                            </div>
                            <div class="form-group">
                                @Html.Hidden("DateModied", DateTime.Now)
                            </div>
                            <div class="form-group">
                                @Html.Hidden("AddedBy", Env.GetUserInfo("userid"))
                            </div>




                        </div>
                        <div class="box-footer">
                            @Html.StarkInputButtion("Create New", "submit", "btn btn-primary", "")
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}



