@model ShopMate.Models.ProductCategory

@{
    ViewBag.Title = "Create";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
 
<script src="~/Content/ckeditor/ckeditor.js"></script>

@Html.StarkAjaxFormSubmiter("frmProductCategory", "tbProductCategory", true, "Action Successfully Executed")
 
@{
    if (!Ajax.IsThisAjaxRequest())
    {
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.Title</small>
            </h1>
        </section>
    }
}
<script type="text/javascript">
        $(function () { 
            $('select').searchableOptionList({
                maxHeight: '250px'
            });
        });
</script>
@using (Html.BeginForm("Create", "ProductCategory", FormMethod.Post, new { enctype = "multipart/form-data",id = "frmProductCategory"  }))
{
    @Html.AntiForgeryToken()
          <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Fill ProductCategory Form</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <div role="form">
                        <div class="box-body">
                              

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "" })
                                @Html.EditorFor(model => model.Name)  
                            </div>
                            @*<div class="form-group">
                                @Html.LabelFor(model => model.ParentId, new { @class = "" })
                                @Html.DropDownList("ParentId"," -Select- ") 
                                @Html.StarkDropDownAjaxLink("/ProductCategory/Create", "AddMore","")
                            </div>*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.WarehouseId, new { @class = "" })
                            @Html.DropDownList("WareHouse", " -Select- ")
                            @*@Env.WareHouseUC()*@
                        </div>




                        </div>
                        <div class="box-footer">
                            @Html.StarkInputButtion("Create New","submit","btn btn-primary","") 
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}



