
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section ScriptsOrCss
{
    <link href="~/Content/DataTable/new/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/DataTable/new/jquery.dataTables.min.js" type="text/javascript"></script>
    <link href="~/Content/DataTable/new/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/SaleOrder.css" rel="stylesheet" />
    <script src="~/Scripts/quagga.js"></script>
}

<style>
    #tbProduct_wrapper select {
        display: none;
    }

    #tbProduct_filter input {
        width: 190px;
        outline: hidden;
        margin-top: 20px;
        margin-left: 20px;
    }

    .selecttax {
        font-size: 11px;
        height: 20px;
        padding: 0;
        width: 150px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function()
    {

        $("#CustomerUserId").on("change", function()
        {
            var selectedCustomerUserId = $(this).children("option:selected").val();
            var value = $('#dropDownId:selected').val();
            console.log(value);
            $.ajax(
            {
                url: '/Quotation/GetDetails?id=' + $(this).children("option:selected").val(),
                type: 'GET',
                data: "",
                contentType: 'application/json; charset=utf-8',
                success: function(data)
                {
                    var mySelect = "";
                        $.each(data.salesorders, function(index, value) {
                          mySelect = mySelect + ", " + value.Id
                        });

                    var oderPromt = prompt("Please enter a Quotation Number"+ mySelect);

                    if (oderPromt == null || oderPromt == "") {
                      txt = "User cancelled the prompt.";
                    } else
                    {
                        $("#QuotationId").val(oderPromt);

                        $.ajax(
                {
                    url: '/Quotation/GetQuotationItems?id=' + oderPromt,
                    type: 'GET',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function(data)
                    {
                        // alert("u here!!!!")
                        var mySelect = "";
                        //var obj = JSON.parse(data);
                        //var obj = jQuery.parseJSON(data);
                        var obj = $.parseJSON(data)
                        //console.log(obj);
                        //$.each(data, function(index, value) {

                        //var obj = jQuery.parseJSON(useme);
                        $.each(obj, function (index, value) {
                            var tax = 0;

                            if (value.TaxId == 5) {
                                tax = 0;
                            }
                            else if (value.TaxId == 2)
                            {
                                tax ==15;
                            }

                            var total = (parseFloat(value.Quantity) * parseFloat(value.UnitPrice));
                var TaxAmount = (parseFloat(tax) / 100) * (parseFloat(total));
                            var grosstotal = total;
                            addInv2(value.ProductId,value.UnitPrice,tax,value.Name,value.Quantity)

                            
                            @*var buttons = '<div class="text-center"> <input type="number" value="1" style="width:44px;" id="Qty' + row[2] + '"/> <button onclick="addInv(' + row[2] + ',' + row[4] + ',' + row[5] + ',\'' + row[0] + '\','+row[7]+')" type="button" id="btnPlus" class="btn btn-default btn-xs btn-warning" title="Click To Add" > <i class="fa fa-plus"></i></button></div>';


                             var div = '<tr class="item-row" id="' + value.productId + '"  qty="' + value.Quantity + '" >   <td> <a class="delete" value="' + total + '" href="javascript:;" title="Remove row">X</a> &nbsp; ' + value.Name + '</td> <td>' + value.UnitPrice + '</td> <td> <select class="selecttax"><option value="VAT @@' + tax + '%">VAT @@' + tax + '%</option><option value="None @@' + tax + '%">None @@' + tax + '%</option> @Html.Raw(ViewBag.moreTax)  </select> </td>  <td>' + value.Quantity + '</td> <td>' + total + '</td>   </tr>';*@

                            @*var div = '<tr class="item-row" id="' + value.productId + '"  qty="' + value.qty + '" >   <td> <a class="delete" value="' + 22 + '" href="javascript:;" title="Remove row">X</a> &nbsp; ' + value.Name + '</td> <td>' + value.UnitPrice + '</td> <td> <select class="selecttax"><option value="VAT @@' + 2 + '%">VAT @@' + 2 + '%</option><option value="None @@' + 2 + '%">None @@' + 2 + '%</option> @Html.Raw(ViewBag.moreTax)  </select> </td>  <td>' + 45 + '</td> <td>' + 334 + '</td>   </tr>';*@

                //$("#tbody").append(div);
                //cleartext();
                //GrossAmount(total);
                //currenciesListInputChange();

                //$("#divPayout").show();


                        });
                },
                //error: function()
                error: function (req, textStatus, errorThrown)
                {
                    alert("error");
                }
            });
                    }

                },
                //error: function()
                 error: function (req, textStatus, errorThrown)
                {
                    alert("error");
                }
            });
        });
    });

    var amountsCurrenciesInTextboxes = [];

    function getAmountsCurrenciesInTextboxes() {

        amountsCurrenciesInTextboxes = [
            { "currency": "USD", "amount": $("#usdtxt").val() },
            { "currency": "Rand", "amount": $("#randtxt").val() },
            { "currency": "Pula", "amount": $("#pulatxt").val() },
            { "currency": "Cash", "amount": $("#cashtxt").val() },
            { "currency": "Ecocash", "amount": $("#ecocashtxt").val() },
            { "currency": "RTGS Swipe", "amount": $("#swipetxt").val() },
            { "currency": "Telecash", "amount": $("#telecashtxt").val() },
            { "currency": "One Money", "amount": $("#onemoneytxt").val() },
        ];

    }

    $(document).on("keypress", function (e) {
        if (e.which == 13) {
            document.getElementById("btnPlus").click();
        }
    });
    let data = '';

    window.onload = function () {
        window.document.body.addEventListener('keydown', function (event) {


            if (event.ctrlKey) {
                event.preventDefault();
                return;
            }

            //data += event.key;
            //console.log(data);
        });
    }

    $(document).ready(function () {

        getproducts();
          updatep();
    });
    function cleartext(){
        $('.dataTables_filter input').val('');
    }
    function getproducts() {
        var oTableProduct = "";
        var ControlerNameProduct = "@Url.Content("~/SaleOrder")";
                oTableProduct = $("#tbProduct").dataTable({
            "bRetrieve": true,
            "bProcessing": true,
            "dom": 'lBfrtip',
            "sAjaxSource": "@Url.Content("~/SaleOrder/GetProduct")",
            "pageLength": 50,
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "aoColumns": [
                 {
                     "mRender": function (oObj, type, row,full) {

                         var content = '<img src="/Uploads/' + row[3] + '" style="width:50px;height:50px;" /> &nbsp;<b>' + row[6] + '</b>&nbsp;' + row[0] + ' <br/><b>Price: <input type="number" id="Price' + row[2] + '" value=' + row[1] + ' name="Price" class="form-control" readonly /></b> <br/>';

                         return content;
                     }

                 },

            {
                "mRender": function (oObj, type, row) {


                    var buttons = '<div class="text-center"> <input type="number" value="1" style="width:58px;" id="Qty' + row[2] + '"/> <button onclick="addInv(' + row[2] + ',' + row[4] + ',' + row[5] + ',\'' + row[0] + '\','+row[7]+')" type="button" id="btnPlus" class="btn btn-default btn-xs btn-warning" title="Click To Add" > <i class="fa fa-plus"></i></button></div>';

                    return buttons;
                }

            },

            ]

        });

        $(".dataTables_filter input").on("keypress", function (e) {
            if (e.which == 13) {
                document.getElementById("btnPlus").click();
            }
        });

        $("#tbody").on('click', ".delete", function () {
            var amt = $(this).attr("value");
            $(this).parents('.item-row').remove();
            GrossAmount(-amt);
        });

        $("#SaveSaleOrder").on('click', function () {
            var customerId = $("#CustomerUserId").val();
            console.log(customerId);
             

            if (confirm("are you sure you want to Save Order!") == true) {
                if (customerId == "") {
                   
                    $.sticky('<br/> ! Select Customer First. <br/>  ', { stickyClass: 'error' });
                
                }
                else {
                var products = [];

                $("tr.item-row").each(function () {
                    $this = $(this);
                    products.push({ product: $this.attr("id"), qty: $this.attr("qty") , PurchasePrice: $(this).find('td:eq(1)').html()});

                });


                var gt = $("#GrossAmount").val();
                
               
                        //console.log(gt)
                        //console.log(PaidAmount)
                            $.ajax({
                                url: "/SaleOrder/Create",
                                type: "POST",
                                data: {
                                    'products': products,
                                    'CustomerUserId': $("#CustomerUserId").val(),
                                    'SaleNote': $("#SaleNote").val(),
                                    'TaxName': $(".selecttax").val(),/*norlin */
                                    'CustomerOrderNumber': $("#CustomerOrderNumber").val(),
                                    'QuotationId': $("#QuotationId").val(),
                                    'CustomerOrderNumber':$("#CustomerOrderNumber").val(),
                                },
                                dataType: 'json',
                                success: function (result) {
                                    if (result == "Done") {
                                        console.log(result)
                                        $.sticky('<br/> Order was Received ', { stickyClass: 'success' });

                                        window.location = "@Env.GetSiteRoot()/SaleOrder/Create";
                                    }
                                    else {
                                        $.sticky('<br/> ! Something  went wrong. <br/> ' + result + '', { stickyClass: 'error' });
                                    }
                                }, error: function () { $.sticky('<br/> ! Something went wrong. <br/> ' + result + '', { stickyClass: 'error' }); }
                            });

                } 
                 }
                 
            });

    }

    function addInv2(id,price,tax,name,quantity)
    {

       // var remainingquantity = document.getElementById("remainq" + id).value;
        var qty = quantity;   
        var priceamount = price;
        //price = priceamount;


                var total = (parseFloat(qty) * parseFloat(price));
                var TaxAmount = (parseFloat(tax) / 100) * (parseFloat(total));
                var grosstotal = total;
                // (total + TaxAmount)

            //var div = '<tr class="item-row" id="' + id + '"  qty="' + qty + '" >   <td> <a class="delete" value="' + grosstotal + '" href="javascript:;" title="Remove row">X</a> &nbsp; ' + name + '</td> <td>' + price + '</td> <td> <select class="selecttax"><option value="VAT @@' + tax + '%">VAT @@' + tax + '%</option><option value="None @@' + tax + '%">None @@' + tax + '%</option> @Html.Raw(ViewBag.moreTax)  </select> </td>  <td>' + qty + '</td> <td>' + grosstotal + '</td>   </tr>';

                var div = '<tr class="item-row" id="' + id + '"  qty="' + qty + '" >   <td> <a class="delete" value="' + grosstotal + '" href="javascript:;" title="Remove row">X</a> &nbsp; ' + name + '</td> <td>' + price + '</td> <td> ' + tax + '</td>  <td>' + qty + '</td> <td>' + grosstotal + '</td>   </tr>';

                $("#tbody").append(div);
                cleartext();
                GrossAmount(grosstotal);
                currenciesListInputChange();

                $("#divPayout").show();


    }
    function addInv(id,price,tax,name,remaining)
    {

       // var remainingquantity = document.getElementById("remainq" + id).value;
        var qty = document.getElementById("Qty" + id).value;   
        var priceamount = document.getElementById("Price" + id).value;
        price = priceamount;

        if (parseInt(qty) > 0)

        {
                var total = (parseFloat(qty) * parseFloat(price));
                var TaxAmount = (parseFloat(tax) / 100) * (parseFloat(total));
                var grosstotal = total;
                // (total + TaxAmount)

            //var div = '<tr class="item-row" id="' + id + '"  qty="' + qty + '" >   <td> <a class="delete" value="' + grosstotal + '" href="javascript:;" title="Remove row">X</a> &nbsp; ' + name + '</td> <td>' + price + '</td> <td> <select class="selecttax"><option value="VAT @@' + tax + '%">VAT @@' + tax + '%</option><option value="None @@' + tax + '%">None @@' + tax + '%</option> @Html.Raw(ViewBag.moreTax)  </select> </td>  <td>' + qty + '</td> <td>' + grosstotal + '</td>   </tr>';

                var div = '<tr class="item-row" id="' + id + '"  qty="' + qty + '" >   <td> <a class="delete" value="' + grosstotal + '" href="javascript:;" title="Remove row">X</a> &nbsp; ' + name + '</td> <td>' + price + '</td> <td> ' + tax + '</td>  <td>' + qty + '</td> <td>' + grosstotal + '</td>   </tr>';

                $("#tbody").append(div);
                cleartext();
                GrossAmount(grosstotal);
                currenciesListInputChange();

                $("#divPayout").show();

        }
        else
        {
            alert("Increase Quantity First");
        }
    }

    function GrossAmount(amount)
    {
        var oldAmount = $("#GrossAmount").val();
        var total = parseFloat(oldAmount) + parseFloat(amount);

        $("#GrossAmount").val(total.toFixed(2));

        CustomerChange();
    }

    function CustomerChange() {

        var fromcustomer = $("#tmoney").val();

        var gross = $("#GrossAmount").val();

        var change = fromcustomer - parseFloat(gross);
        $("#ichange").val(change.toFixed(2));
        $("#tenderedmoney").text(fromcustomer);

    }
    //BarCode reader


    //get method for rates
    function getRates() {
        var oTableRates = "";
        var ControlerRates = "@Url.Content("~/Rates")";
        // debugger;
        oTableRates = $("#tbRate").dataTable({
            "bRetrieve": true,
            "bProcessing": true,
            "dom": 'lBfrtip',
            "sAjaxSource": "@Url.Content("~/Rates/GetGrid")",
            "pageLength": 50,
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "aoColumns": [
                 {
                     "mRender": function (oObj, type, row) {

                         var content = '<img src="/Uploads/' + row[3] + '" style="width:50px;height:50px;" /> &nbsp;<b>' + row[6] + '</b>&nbsp;' + row[0] + ' <br/><b>Price: ' + row[1] + '</b>';

                         return content;
                     }

                 },
            {
                "mRender": function (oObj, type, row) {

                    var buttons = '<div class="text-center"> <input type="number" value="1" style="width:44px;" id="Qty' + row[2]  + '"/> <button onclick="addInv(' + row[2] + ',' + row[4] + ',' + row[5] + ',\'' + row[0] + '\')" type="button" id="btnPlus" class="btn btn-default btn-xs btn-warning" title="Click To Add" > <i class="fa fa-plus"></i></button></div>';

                    return buttons;
                }

            }
            ]
        });
    }
    // Event Listeners


    function currenciesListInputChange() {
        // variables  for the currencies
        var baseCurrencyAmount, baseRate, baseTendered, baseBalance, baseChange;
        var bondRate, bondTendered, bondBalance, bondChange;
        var rtgsRate, rtgsTendered, rtgsBalance, rtgsChange;
        var ecocashRate, ecocashTendered, ecocashBalance, ecocashChange;
        var oneMoneyRate, oneMoneyTendered, oneMoneyBalance, oneMoneyChange;
        var teleCashRate, teleCashTendered, teleCashBalance, teleCashChange;
        var zwlRate, zwlTendered, zwlBalance, zwlChange;

        //Base Currency
        baseCurrencyAmount = $('#GrossAmount').text();
        baseRate = $('#GrossAmount').text();
        baseTendered = 0.00;
        baseBalance = baseRate;
        baseChange = 0.00;

        $('#usdrate').val(baseRate);
        $('#usdtendered').val(baseTendered.toFixed(2));
        $('#usdchange').val(baseChange.toFixed(2));
        $('#usdtendered').on('click', function () {
            $(this).select();
        });
        $('#usdtendered').on('input', function () {
            var rate, tender, change, balance;
            rate, balance = baseRate;
            tender = $('#usdtendered').val();
            if ((tender - baseBalance) > 0) {
                $('#usdchange').val(parseFloat(tender - baseBalance).toFixed(2));
                $('#usdbalance').val(0.00.toFixed(2)) && $('#fcabalance').val(0.00.toFixed(2)) && $('#rgtsbalance').val(00.toFixed(2));
            } else {
                $('#usdbalance').val(parseFloat(baseBalance - tender).toFixed(2));
                $('#usdchange').val(0.00.toFixed(2));
            }
        });
        $('#usdbalance').val(baseBalance);

        $('#fcarate').val(baseRate);
        $('#fcatendered').val(baseTendered.toFixed(2));
        $('#fcabalance').val(baseBalance);
        $('#fcachange').val(baseChange.toFixed(2));

        //RTGS  Dollar
        rtgsrate = baseCurrencyAmount * 7;
        rtgstendered = 0.00;
        rtgsbalance = rtgsrate;
        rtgschange = 0.00;

        $('#rgtsrate').val(parseFloat(rtgsrate));
        $('#rgtstendered').val(0.00.toFixed(2));
        $('#rgtsbalance').val(rtgsbalance.toFixed(2));
        $('#rgtschange').val(0.00.toFixed(2));

        //Bond Note
        $('#bondrate').val(baseRate);
        $('#bondtendered').val(baseTendered.toFixed(2));
        $('#bondbalance').val(baseBalance);
        $('#bondchange').val(baseChange.toFixed(2));

        ////Ecocash
        $('#ecocashrate').val(parseFloat(baseRate * 7.25));
        $('#ecocashtendered').val(baseTendered.toFixed(2));
        $('#ecocashbalance').val(baseBalance);
        $('#ecocashchange').val(baseChange.toFixed(2));

        ////Telecash
        $('#telecashrate').val(parseFloat(baseRate * 7.5));
        $('#telecashtendered').val(baseTendered.toFixed(2));
        $('#telecashbalance').val(baseBalance);
        $('#telecashchange').val(baseChange.toFixed(2));

        ////Onemoney
        $('#onemoneyrate').val(parseFloat(baseRate * 7.2));
        $('#onemoneytendered').val(baseTendered.toFixed(2));
        $('#onemoneybalance').val(baseBalance);
        $('#onemoneychange').val(baseChange.toFixed(2));

    }
    function cmurrenciesListInputChange() {
        var baseCurrencyAmount = $('#GrossAmount').text();
        var usd = $('#usdrate').val(parseFloat(baseCurrencyAmount));
        var bond = usd * 4.2;
        $('#bondrate').val(bond);
        //if (baseCurrencyAmount !== newBaseCurrencyAmount || isNewBaseCurrency) {
        //    baseCurrencyAmount = newBaseCurrencyAmount;
        //    const baseCurrencyRate = currencies.find(currency => currency.abbreviation === baseCurrency).rate;
        //    currenciesList.querySelectorAll(".currency").forEach(currencyLI => {
        //        if (currencyLI.id !== baseCurrency) {
        //            const currencyRate = currencies.find(currency => currency.abbreviation === currencyLI.id).rate;
        //            const exchangeRate = currencyLI.id === baseCurrency ? 1 : (currencyRate / baseCurrencyRate).toFixed(4);
        //            currencyLI.querySelector(".input input").value = exchangeRate * baseCurrencyAmount !== 0 ? (exchangeRate * baseCurrencyAmount).toFixed(4) : "";
        //        }
        //    });
        //}
    }

    currenciesList.addEventListener("focusout", currenciesListFocusOut);

    function currenciesListFocusOut(event) {
        const inputValue = event.target.value;
        if (isNaN(inputValue) || Number(inputValue) === 0) event.target.value = "";
        else event.target.value = Number(inputValue).toFixed(4);
    }

    currenciesList.addEventListener("keydown", currenciesListKeyDown);

    function currenciesListKeyDown(event) {
        if (event.key === "Enter") event.target.blur();
    }
    // Auxiliary Functions
</script>

<section class="content" style=" background-image: url(@Url.Content("~/Content/bg/woven-light.png"));">
    <!-- Small boxes (Stat box)  -->
    <div class="row">

        <div class="col-xs-4" style="padding-right:0px;">

            <section class="content">

                <div class="col-xs-12" style="padding-left:0px;height:640px;overflow:auto;">

                    <div class="clearfix"></div>
                    <br />
                    <div class="btn-group">
                        <button class="btn btn-small btn-info disabled">Select Customer</button>
                        @Html.DropDownList("CustomerUserId", null, "- Select Customer -", new { @id = "CustomerUserId", @class = "btn btn-small"})
                    </div>

                    <table id="tbProduct" class="display">
                        <thead>
                            <tr>
                                <th style="width:150px !important;"> Product  </th>
                                <th style="width:100px !important;"> Qty  </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                    <div class="clearfix"></div>
                    <br />
                </div>

                <div class="clearfix"></div>
                <br />
            </section>

        </div>

        <div class="col-xs-8" style="padding-left:0px;padding-right:0px;">
            <div id="barcode-scanner" style="display:none;"></div>
            <br /> <br />
            <a href="~/SaleOrder/" class="btn btn-block btn-info btn-sm">Go To Sale Order List</a>
            <div id="dvContainer" class="content invoice mt-5" style="padding: inherit; min-height: 135mm;  width:93%; ">

                <div style="margin-bottom:50px;">

                </div>
                <div class="row" style="font-size:12px;text-align:center;font-weight:bold;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">


                    <div style="text-align:center;font-size:30px;font-weight:bold;">Sale Order</div>
                    <div class="after-saleorder">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" value="" id="CustomerOrderNumber" name="CustomerOrderNumber" placeholder="Customer Order No. here" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="number" value="" id="QuotationId" name="QuotationId" placeholder="Quotation Id" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div style="text-align:left;margin-left:40px;">
                        <div style="height:10px; margin-bottom:10px; ">
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div style="width:96%;">
                                    <table id="tbInvoiceItem" class="table table-striped table-bordered">
                                        <thead style="background-color:#e5e2e2;">
                                            <tr>
                                                <th>Product Name </th>
                                                <th>Price </th>
                                                <th>Tax </th>
                                                <th>Quantity </th>
                                                <th> Total </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody"></tbody>
                                        <tfoot style="background-color:#e5e2e2;">
                                            <tr>
                                                <th> </th>
                                                <th> </th>
                                                <th></th>
                                                <th> </th>
                                                <th> </th>

                                            </tr>

                                            <tr>
                                                <th> </th>
                                                <th> </th>
                                                <th></th>

                                                <th>Gross Amount </th>
                                                <th><input id="GrossAmount" value="0" readonly /></th>
                                            </tr>
                                            <tr>
                                                <th> </th>
                                                <th> </th>
                                                <th></th>

                                                <th></th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <th> </th>
                                                <th> </th>
                                                <th></th>

                                                <th> </th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>

                                    <div class="dropdown">
                                        @*<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                Select currency
                                            </button>*@
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Cash</a><br />
                                            <a class="dropdown-item" href="#">Swipe</a><br />
                                            <a class="dropdown-item" href="#">Ecocash</a><br />
                                            <a class="dropdown-item" href="#">Telecash</a><br />
                                            <a class="dropdown-item" href="#">Onemone</a><br />
                                            <a class="dropdown-item" href="#">Usd</a><br />
                                            <a class="dropdown-item" href="#">pula</a><br />
                                            <a class="dropdown-item" href="#">Rand</a><br />

                                        </div>
                                        @*<div class="form-group">
                                                @model ShopMate.Models.PaymentMode
                                                                        @Html.DropDownListFor(m => m.Name ,
                                                    new SelectList(Enum.GetValues(typeof(ShopMate.Models.PaymentMode))),
                                                    "Select Payment Mode")
                                                @Html.DropDownListFor(model => model.MyOption, db.PaymentMode.Select(x => new SelectListItem { Text = x.Name, Value = x.Id.ToString() }))

                                                @Html.DropDownList("PaymentModes", null, "-Select Currency-", new { @id = "currencyDropDown" })
                                                <div class="editor-field">

                                                </div>

                                                <input id="NewID" value="0" readonly />
                                            </div>*@
                                    </div>

                                    <div id="divOrderCustomer">


                                        <div style="display:none">

                                            @Html.DropDownList("PaymentModes", " -Select Payment Mode- ")<br />
                                            <input type="text" id="SaleNote" placeholder="Any Remarks" value="Sale" style="width:325px" />
                                        </div>
                                        <div>
                                            <input style="margin-top:0px; float:left;" type="button" id="SaveSaleOrder" class="btn btn-primary" value="Save Sale Order" />

                                            &nbsp;&nbsp;&nbsp; @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })

                                        </div>
                                            
                                        </div>
                                </div>


                            </div>


                        </div>
                        <div style="height:10px; margin-bottom:20px;">

                        </div>



                    </div>


                    <div class="clearfix"></div>


                </div>


                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-5" style="padding-left:60px;"> @DateTime.Now.ToString("dd/MMM/yyyy hh:mm:tt")</div>

                    </div>
                </div>
            </div>

        </div>



    </div>
    <div class="modal" id="progressmodal" data-keyboad="false" data-backdrop="static" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Account Payment</h4>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" id="progrdata">
                    <div class="form-group">
                        <label id="pincdelb">Customer Name</label>
                        @*" -Select- "*@
                        @*@ @Html.DropDownList("UserId", new { @id = "usID" }, " -Select- ") *@
                        @Html.DropDownList("UserId", null, new { @id = "usID" })
                        @Html.StarkDropDownAjaxLink("/User/CreateCustomer", "AddMore", "")

                    </div>
                    <div class="form-group">
                        <label>Enter Amount Paid</label>
                        <input type="number" id="amount" readonly />
                    </div>
                    <div class="md-form">
                        <label for="form10">Payment For</label>
                        <i class="fas fa-pencil-alt prefix"></i>
                        <textarea id="paymentfor" class="md-textarea form-control" rows="3"></textarea>

                    </div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Cash</th>
                                    <th>Ecocash</th>
                                    <th>Swipe</th>
                                    <th>Telecash</th>
                                    <th>OneMoney</th>
                                    <th>USD</th>
                                    <th>Rand</th>
                                    <th>Pula</th>
                                </tr>
                            </thead>
                            <tr>
                                <td><input value="0" type="number" class="form-control" id="cashaccount" /></td>
                                <td><input value="0" type="number" class="form-control" id="ecocashaccount" /></td>
                                <td><input value="0" type="number" class="form-control" id="swipeaccount" /></td>
                                <td><input value="0" type="number" class="form-control" id="telecashaccount" /></td>
                                <td><input value="0" type="number" class="form-control" id="onemoneyaccount" /></td>
                                <td><input value="0" type="number" class="form-control" id="usdaccount" /></td>
                                <td><input value="0" type="number" class="form-control" id="randaccount" /></td>
                                <td><input value="0" type="number" class="form-control" id="pulaaccount" /></td>
                            </tr>

                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</section>
<script>

    var cashToCurrencyConvertorUrl = '/pos/CashToCurrencyConvertor';
    var currencyToCashConvertorUrl = '/pos/CurrencyToCashConvertor';

    $(function () {
        $("#currencyDropDown").change(function () {

            var selectedCurrency = $(this).children("option:selected").text();
            var amountFromCustomer = $("#tmoney").val() ? $("#tmoney").val() : 0.00;
            var amountToBeConverted = $("#GrossAmount").val() - amountFromCustomer;

            $.ajax({
                type: "GET",
                url: cashToCurrencyConvertorUrl,
                contentType: "application/json",
                data: {
                    "selectedCurrecy": selectedCurrency,
                    "amountToBeConverted": amountToBeConverted
                },
                datatype: "json",
                success: function (data) {
                    $("#NewID").val(data.toFixed(2));
                },
                error: function () {
                    console.log(error);
                    alert("Dynamic content load failed.");
                }
            });
        });

        $("#cashtxt, #usdtxt, #randtxt, #pulatxt, #ecocashtxt, #swipetxt, #telecashtxt, #onemoneytxt").on("input", function () {
            findCustomerAmountByCurrencies();
        });

        function findCustomerAmountByCurrencies() {

            getAmountsCurrenciesInTextboxes();

            $.ajax({
                type: "POST",
                url: currencyToCashConvertorUrl,
                contentType: "application/json",
                data: JSON.stringify({ "currencyAmounts": amountsCurrenciesInTextboxes }),
                datatype: "json",
                success: function (data) {

                    $("#tmoney").val(data.toFixed(2))
                    CustomerChange();
                },
                error: function () {
                    console.log(error);
                    alert("Dynamic content load failed.");
                }
            });
        }
    });

</script>

