@model ShopMate.Models.Stores

@{
    ViewBag.Title = "Create";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}

<script src="~/Content/ckeditor/ckeditor.js"></script>

@Html.StarkAjaxFormSubmiter("frmStores", "tbStores", true, "Action Successfully Executed")

@{
    if (!Ajax.IsThisAjaxRequest())
    {
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.Title</small>
            </h1>
        </section>
    }
}
<script type="text/javascript">
    $(function () {
        $('select').searchableOptionList({
            maxHeight: '250px'
        });
    });
</script>
@using (Html.BeginForm("FinishedGoods", "Stores", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmStores" }))
{
    @Html.AntiForgeryToken()
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Add Finished Goods To Stock</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <div role="form">
                        <div class="box-body">
                            <div class="row">

                                <div class="col-md-12">
                                    <table class="table table-bordered table-hover" id="tab_logic">
                                        <thead>
                                            <tr>
                                                <th style="width:30%">Product</th>
                                                <th style="width:10%">Quantity</th>
                                                @*<th style="width:40%">Description</th>
                                                <th style="width:20%">Unit Price</th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    @Html.DropDownList("RawMaterialId", null, new { @Id = "productid" })
                                                </td>
                                                <td>
                                                    <input type="number" id="quantity" name="quantity" placeholder="Quantity" class="form-control" />
                                                </td>
                                                @*<td>
                                                    <input type="text" id="description" name="description" placeholder="Description Name" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="number" id="unitPrice" name="unitPrice" placeholder="Unit Price" class="form-control" />
                                                </td>*@
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="col-md-12">
                                        <a id="addToList" class="btn btn-primary">Add To List</a>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <table id="detailsTable" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width:15%">Product</th>
                                                <th style="width:15%">Quantity</th>
                                                @*<th style="width:30%">Description</th>
                                                <th style="width:20%">Unit Price</th>
                                                <th style="width:25%">Total Price</th>*@
                                                <th style="width:10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                @*<div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.totalprice, new { @class = "" })
                                        <input type="number" id="totalprice" name="totalprice" value="0" placeholder="Total" class="form-control" />
                                    </div>
                                </div>*@
                            </div>
                        </div>
                        <div class="box-footer">
                            <button id="saveOrder" type="submit" class="btn btn-primary">Add Stock</button>
                            @Html.ActionLink("Back to List", "Finished", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<script>
    //Add Multiple Materails.
    $("#addToList").click(function (e) {
        e.preventDefault();

       // if ($.trim($("#quantity").val()) == "" || $.trim($("#description").val()) == "" || $.trim($("#unitPrice").val()) == "") return;

        var Productid = $("#productid").val(),
            quantity = $("#quantity").val(),
            //description = $("#description").val(),
            //unitPrice = $("#unitPrice").val(),
            detailsTableBody = $("#detailsTable tbody");
        //var totalz = parseFloat(unitPrice) * parseInt(quantity);
        //var productItem = '<tr><td>' + Productid + '</td><td>' + quantity + '</td><td>' + description + '</td><td>' + unitPrice + '</td><td>' + (parseFloat(unitPrice) * parseInt(quantity)) + '</td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';
        var productItem = '<tr><td>' + Productid + '</td><td>' + quantity + '</td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';
       
        detailsTableBody.append(productItem);
        GrossAmount(totalz);
        clearItem();
    });
    //After Add A New Material In The List, Clear Clean The Form For Add More Material.
    function clearItem() {
        $("#quantity").val('');
        //$("#description").val('');
        //$("#unitPrice").val('');
    }
    //accumulate total
    function GrossAmount(amount) {
        var oldAmount = $("#totalprice").val();
        var total = parseFloat(oldAmount) + parseFloat(amount);

        $("#totalprice").val(total.toFixed(2));

    }
    // After Add A New Order In The List, If You Want, You Can Remove It.
    $(document).on('click', 'a.deleteItem', function (e) {
        e.preventDefault();
        var $self = $(this);
        var amt = $(this).attr("value");
        if ($(this).attr('data-itemId') == "0") {
            $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                $(this).remove();

            });
        }
    });

    //After Click Save Button Pass All Data View To Controller For Save Database
    function saveOrder(data) {
        return $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: "/Stores/FinishedGoods",
            data: data,
            success: function (result) {
                alert("Added Successfully");
                location.reload();
            },
            error: function (xhr, status, error) {
                var errorMessage = xhr.status + ': ' + xhr.statusText
                alert('Error - ' + errorMessage);
            }
        });
    }
    //Collect Multiple JobCard List For Pass To Controller
    $("#saveOrder").click(function (e) {
        e.preventDefault();

        var products = [];

        products.length = 0;

        $.each($("#detailsTable tbody tr"), function () {
            products.push({
                ProductId: $(this).find('td:eq(0)').html(),
                Quantity: $(this).find('td:eq(1)').html(),
                //description: $(this).find('td:eq(2)').html(),
                //unitprice: $(this).find('td:eq(3)').html(),
                //Total: $(this).find('td:eq(4)').html()
            });
        });

        var data = JSON.stringify({
            //CostPrice: $("#totalprice").val(),
            product: products
        });

        $.when(saveOrder(data)).then(function (response) {
            console.log(response);
        }).fail(function (err) {
            console.log(err);
        });
    });
</script>


