@model ShopMate.Models.Payment

@{
    ViewBag.Title = "Create";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}

<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/quagga.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />

@Html.StarkAjaxFormSubmiter("frmPayments", "tbPayment", true, "Action Successfully Executed")

@{
    if (!Ajax.IsThisAjaxRequest())
    {
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.Title</small>
            </h1>
        </section>
    }
}
<script type="text/javascript">
    $(document).ready(function () {

        $("#BankId").on("change", function () {
            var selectedBankId = $(this).children("option:selected").val();
            var value = $('#dropDownId:selected').val();
            //console.log(value);
            $.ajax(
                {
                    url: '/Bank/GetDetails?id=' + $(this).children("option:selected").val(),
                    type: 'GET',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {

                        $("#BankAccount").val(data.BankAccount);

                    },
                    error: function () {
                        alert("error");
                    }
                });
        });
    });
    $(document).ready(function () {
        $("#CustomerId").on("change", function () {
            var selectedCustomerId = $(this).children("option:selected").val();
            var value = $('#dropDownId:selected').val();
            //console.log(value);
            $.ajax(
                {
                    url: '/Invoice/GetDetails?id=' + $(this).children("option:selected").val(),
                    type: 'GET',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $("#Amount").val(data.invoiceBalance);
                        //var mySelect = "";
                        //$.each(data.invoices, function (index, value) {
                        //    mySelect = mySelect + ", " + value.Id;
                        //});

                        //var oderPromt = prompt("Please enter Invoice Number" + mySelect);

                        //if (oderPromt == null || oderPromt == "") {
                        //    txt = "User cancelled the prompt.";
                        //}


                        //else {

                        //    $.ajax(
                        //        {
                        //            url: '/Invoice/GetPaymentDetails?id=' + oderPromt,
                        //            type: 'GET',
                        //            data: "",
                        //            contentType: 'application/json; charset=utf-8',
                        //            success: function (data) {

                        //                $("#Amount").val(data.balance);
                        //                $("#InvoiceId").val(data.Id);

                        //            },
                        //            //error: function()
                        //            error: function (req, textStatus, errorThrown) {
                        //                console.log(data);
                        //                alert("error ");
                        //            }
                        //        }
                        //    );


                        //}

                    },
                    //error: function()
                    error: function (req, textStatus, errorThrown) {
                        console.log(data);
                        alert("error2");
                    }
                });
        });
    });
    $(function () {
        $("#Amount").change(function () {
            //var selectedCurrency = $(this).children("option:selected").text();
            //var amountFromCustomer = $("#tmoney").val() ? $("#tmoney").val() : 0.00;
            $("#NewID").val() = 0;

            //$.ajax({
            //    type: "GET",
            //    url: cashToCurrencyConvertorUrl,
            //    contentType: "application/json",
            //    data: {
            //        "selectedCurrecy": selectedCurrency,
            //        "amountToBeConverted": amountToBeConverted
            //    },
            //    datatype: "json",
            //    success: function (data) {
            //        $("#NewID").val(data.toFixed(2));
            //    },
            //    error: function () {
            //        console.log(error);
            //        alert("Dynamic content load failed.");
            //    }
            //});
        });
    });


</script>

@using (Html.BeginForm("Create", "Payment", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmPayments" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Fill Payment Form</h3>
                    </div>
                    <div role="form">
                        <div class="box-body">
                            <div class="row">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @* <div style="padding-bottom: 30px">*@
                                <div class="form-group" style="margin-left :17%;">
                                    <label>Customer Name</label>
                                    @Html.DropDownList("CustomerId", null, "- Select Customer -", new { @id = "CustomerId" })<br />

                                </div>
                                @* </div> *@

                                <div style="padding-bottom: 30px">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control col-md-10", @id = "Amount" } })
                                    </div>
                                </div>

                                <div class="form-group" style="display:none;">
                                    @Html.LabelFor(model => model.PaymentTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.DropDownList("PaymentTypeId", null, "-Select Payment Type -", new { @id = "PaymentTypeId", @class = "form-control col-md-10" })

                                </div>
                                <div style="padding-bottom: 30px">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PaymentModeId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.DropDownList("PaymentModeId", null, "-Select Payment Mode -", new { @id = "PaymentModeId", @class = "form-control col-md-10" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CurrencyAmount, htmlAttributes: new { @class = "control-label col-md-2" })

                                        @Html.EditorFor(model => model.CurrencyAmount, new { htmlAttributes = new { @class = "form-control col-md-10", @id = "NewID", @name = "CurrencyAmount", @readonly = "readonly", @type = "number" } })
                                    </div>
                                </div>

                                <div style="padding-bottom: 30px">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BankId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.DropDownList("BankId", null, "-Select Bank-", new { @id = "BankId", @class = "form-control col-md-10" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BankAccount, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.BankAccount, new { htmlAttributes = new { @class = "form-control col-md-10", @id = "BankAccount", @name = "BankAccount", @readonly = "readonly", @type = "number" } })
                                    </div>
                                </div>

                                <div class="form-group" style="padding-top: 20px">
                                    @Html.LabelFor(model => model.PaymentReference, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.EditorFor(model => model.PaymentReference, new { htmlAttributes = new { @class = "form-control", @id = "PaymentReference", @name = "PaymentReference", @type = "text" } })
                                </div>
                                <div class="form-group" style="padding-top: 20px">
                                    @Html.LabelFor(model => model.PaymentDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.EditorFor(model => model.PaymentDate, new { htmlAttributes = new { @class = "form-control", @id = "paymentdate", @name = "PaymentReference", @type = "text" } })
                                </div>

                            </div>
                                <div class="box-footer">
                                    <button id="savePayment" type="submit" class="btn btn-primary">Make Payment</button>
                                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                                </div>

                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
<script>

         function savePayment(data) {
        return $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: "/Payment/Create",
            data: data,
            success: function (result) {
                if (result == "Submitted") {
                                $.sticky('<br/> Sale Successful ', { stickyClass: 'success' });
                                window.location = "@Env.GetSiteRoot()/Payment/Create";
                            }

            },
            error: function (req, textStatus, errorThrown) {
               alert('Ooops, something happened: ' + textStatus + ' ' + errorThrown + ' ' + req );
            }
        });
             }

    //Collect Multiple JobCard List For Pass To Controller
    $("#savePayment").click(function (e) {
        e.preventDefault();


        var data = JSON.stringify({
            customerid: $("#CustomerId").val(),
            PaymentModeId: $("#PaymentModeId").val(),
            BankId: $("#BankId").val(),
            BankAccount: $("#BankAccount").val(),
           InvoiceId: $("#InvoiceId").val(),
           Amount: $("#Amount").val(),
           PaymentReference: $("#PaymentReference").val(),
            CurrencyAmount: $("#NewID").val(),
            paymentDate: $("#paymentdate").val()

        });

        $.when(savePayment(data)).then(function (response) {
            console.log(response);
        }).fail(function (err) {
            console.log(err);
        });
    });


    var cashToCurrencyConvertorUrl = '/pos/CashToCurrencyConvertor';
    var currencyToCashConvertorUrl = '/pos/CurrencyToCashConvertor';

    $(function () {
        $("#PaymentModeId").change(function () {
            var selectedCurrency = $(this).children("option:selected").text();
            //var amountFromCustomer = $("#tmoney").val() ? $("#tmoney").val() : 0.00;
            var amountToBeConverted = $("#Amount").val();

            $.ajax({
                type: "GET",
                url: cashToCurrencyConvertorUrl,
                contentType: "application/json",
                data: {
                    "selectedCurrecy": selectedCurrency,
                    "amountToBeConverted": amountToBeConverted
                },
                datatype: "json",
                success: function (data) {
                    $("#NewID").val(data.toFixed(2));
                },
                error: function () {
                    console.log(error);
                    alert("Dynamic content load failed.");
                }
            });
        });
    });

    $("#Amount").on("input", function () {
        $("#NewID").val(0);
            //findCustomerAmountByCurrencies();
        });

        //function findCustomerAmountByCurrencies() {

        //    getAmountsCurrenciesInTextboxes();

        //    $.ajax({
        //        type: "POST",
        //        url: currencyToCashConvertorUrl,
        //        contentType: "application/json",
        //        data: JSON.stringify({ "currencyAmounts": $("#Amount").val }),
        //        datatype: "json",
        //        success: function (data) {

        //            $("#tmoney").val(data.toFixed(2))
        //            CustomerChange();
        //        },
        //        error: function () {
        //            console.log(error);
        //            alert("Dynamic content load failed.");
        //        }
        //    });
        //}


</script>
