@model ShopMate.Models.Dispatch

@{
    ViewBag.Title = "Create";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}

<script src="~/Content/ckeditor/ckeditor.js"></script>

@Html.StarkAjaxFormSubmiter("frmDispatch", "tbDispatch", true, "Action Successfully Executed")

@{
    if (!Ajax.IsThisAjaxRequest())
    {
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.Title</small>
            </h1>
        </section>
    }
}
<script type="text/javascript">
    $(function () {
        $('select').searchableOptionList({
            maxHeight: '250px'
        });
    });
</script>
@using (Html.BeginForm("Create", " Dispatch", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmDispatch" }))
{
    @Html.AntiForgeryToken()
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Fill Dispatch Form</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    @*<div class="form-group" style="width:auto; display:none;">
                        @Html.LabelFor(model => model.invoiceNo, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.invoiceNo, new { htmlAttributes = new { @class = "form-control col-md-10", @id = "invoiceNo", @name = "CurrencyAmount", @type = "number" } })
                    </div>*@
                    <div role="form">
                        <div class="box-body">
                            <div class="form-group" style="width:auto; display:none;">
                                @Html.LabelFor(model => model.WarehouseId, new { @class = "" })
                                @Env.WareHouseUC()
                            </div>
                            @*<div class="form-group">
            @Html.LabelFor(model => model.invoiceNo, new { @class = "" })
            @Html.EditorFor(model => model.invoiceNo, new { @Id = "invoiceNo" })
        </div>*@

                        <div class="col-xs-12">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label>Customer Name</label>
                                    @Html.DropDownList("CustomerUserId", null, "- Select Customer -", new { @id = "CustomerUserId" })<br />
                                   </div>
                            </div>
                            <div class="col-xs-4">
                                <div>
                                    <tr>
                                        <td><b>Invoice Number</b></td>
                                        <td> <input type="number" id="invoiceNo" style="width:auto;" name="invoiceNo" placeholder="Invoice No" class="form-control" readonly/>
    @*<button id="GetInvoiceItems" class="btn btn-primary">Load Details</button></td>*@
                                    </tr>

                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div>
                                    <tr>
                                        <td><b>Dispatch To</b></td>
                                        <td> <input type="text" id="dispatchTo" name="dispatchTo" placeholder="Dispatch To" class="form-control" /></td>
                                    </tr>
                                </div>
                            </div>
                        </div>
                                    @*<div>
                <tr>
                    <td><b>Dispatched to</b></td>
                    <td> <input style="width:auto;" type="text" id="customer" name="customer" placeholder="Dispatched To" class="form-control" /></td>
                </tr>
            </div>*@


                                    @*</div>*@
                                    @*<div class="col-md-12 column" style="margin:5px 0px 5px 0px">*@
                                    <table class="table table-bordered table-hover" id="tablogic">
                                        <div class="col-md-12" style="margin:5px 0px 5px 0px">
                                            <table id="detailsTable" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>

                                                        @*<th style="width:25%">Quantity</th>
                                <th style="width:25%">Description</th>*@
                                                        <th style="width:25%">Product</th>
                                                        <th style="width:25%">Name</th>
                                                        <th style="width:25%">Description</th>
                                                        <th style="width:25%">Quantity</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        @*<div class="form-group">
                    @Html.Hidden("ddate", DateTime.Now, new { @Id = "ddate" })
                </div>*@

                                        @*<div class="form-group">
                    @Html.DropDownList("CustomerUserId", null, new { @Id = "CustomerUserId" })<br />
                </div>*@

                                        @*<br />
                <br />*@

                                        <div class="box-footer">
                                            <button id="saveOrder" type="submit" class="btn btn-primary">Create New Dispatch</button>
                                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                                        </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </section>
}

<script>
     $(document).ready(function () {

        $("#CustomerUserId").on("change", function () {
            var selectedCustomerUserId = $(this).children("option:selected").val();
            var value = $('#dropDownId:selected').val();
            //console.log(value);
            $.ajax(
                {
                    url: '/Invoice/GetDispatchInvoices?id=' + $(this).children("option:selected").val(),
                    type: 'GET',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        console.log(data);
                        var mySelect = "";
                        $.each(data.salesorders, function (index, value) {
                            mySelect = mySelect + ", " + value.Id
                            console.log(value.Id);
                        });

                        var oderPromt = prompt("Please enter an Invoice Number" + mySelect);

                        if (oderPromt == null || oderPromt == "") {
                            txt = "User cancelled the prompt.";
                        } else {
                            $("#invoiceNo").val(oderPromt);

                            $.ajax(
                                {
                                    url: '/Dispatch/GetDispatchItems?id=' + oderPromt + "," + $("#CustomerUserId").val(),
                                    type: 'GET',
                                    data: "",
                                    contentType: 'application/json; charset=utf-8',
                                    success: function (data) {
                                        var obj = $.parseJSON(data)
                            $.each(obj, function (index, value) {

                                var quantity = value.Quantity,
                                    description = value.Description,
                                    name = value.Name,
                                    product = value.ProductId,
                                    detailsTableBody = $("#detailsTable tbody");

                                var productItem = '<tr><td>' + product + '</td><td>' + name + '</td><td>' + description + '</td><td><input type="number" value="'+ quantity +'" style="width:88px;" class="remainq"/></td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';
                                detailsTableBody.append(productItem);
                                            //clearItem();

                                        });
                                    },

                                    error: function (req, textStatus, errorThrown) {
                                        alert("error");
                                    }
                                });
                        }

                    },

                    error: function (req, textStatus, errorThrown) {
                        console.log(req);
                        console.log(textStatus);
                        console.log(errorThrown);
                        alert("error here" + textStatus);
                    }
                });
        });
    });
    $(document).ready(function () {
        $("#GetInvoiceItems").on('click', function () {       
            //e.preventDefault();
            //if (e.which == 13) {
                var invoiceNo = $("#invoiceNo").val();

                $.ajax(
                    {
                        url: '/Dispatch/GetDispatchItems?id=' + invoiceNo,
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            var obj = $.parseJSON(data)
                            $.each(obj, function (index, value) {

                                var quantity = value.Quantity,
                                    description = value.Description,
                                    name = value.Name,
                                    product = value.ProductId,
                                    detailsTableBody = $("#detailsTable tbody");

                                var productItem = '<tr><td>' + product + '</td><td>' + name + '</td><td>' + description + '</td><td><input type="number" value="'+ quantity +'" style="width:88px;" class="remainq"/></td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';
                                detailsTableBody.append(productItem);
                                
                                //clearItem();
                            });
                        },
                        error: function () {
                            alert("error here");
                        }
                    });
           return false;
            //}
        });
    });

    $(document).on('click', 'a.deleteItem', function (e) {
        e.preventDefault();
        var $self = $(this);
        if ($(this).attr('data-itemId') == "0") {
            $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                $(this).remove();
            });
        }
    });
    //After Click Save Button Pass All Data View To Controller For Save Database
    function saveOrder(data) {
        //e.preventDefault();
        return $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: "/Dispatch/Create",
            data: data,
            success: function (result) {
                $.sticky('<br/> Dispatch Successful ', { stickyClass: 'success' });
                //alert(result);
                location.reload();
            },
            error: function () {
                alert("Error!")
            }
        });
    }
    //Collect Multiple Invoice List For Pass To Controller
    $("#saveOrder").click(function () {
        //e.preventDefault();

        var InvoiceItemArr = [];

        InvoiceItemArr.length = 0;

        $.each($("#detailsTable tbody tr"), function (i, rowindex) {
            InvoiceItemArr.push({
                ProductId: $(this).find('td:eq(0)').html(),
                description: $(this).find('td:eq(2)').html(),
                //quantity: $(this).find('td:eq(3)').html(),
                //$(this).find('input')
                //$('#detailsTable tbody tr').each(function (i, rowindex) {
                   quantity: $(this).find('input').val(),
                        //alert($(this).val())
                //Quantity: $(this).val(),
                //quantity: $(this).attr('remainq'),
    //           quantity: $(this).find("input").get().map(function(input), 
    //alert(input.value)
    //            $(tr).find("input").get().map(function(input) {
    //console.log(input.value);
  //})
                //quantity: $(this).attr('remainq'),
                //console.log($(this).attr("remainq")),
               //$("#remainq ").val()
                         
                //quantity: $(this).find('td:eq(3)').html(),
            });
        });

        var data = JSON.stringify({
            invoiceNo: $("#invoiceNo").val(),
            CustomerUserId: $("#CustomerUserId").val(),
            DispatchTo: $("#dispatchTo").val(),
            dispatchmaterials: InvoiceItemArr,

        });


        $.when(saveOrder(data)).then(function (response) {
            console.log(response);
        }).fail(function (err) {
            console.log(err);
        });
    });
</script>


