@model ShopMate.Models.Currency

@{
    ViewBag.Title = "Create";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}

<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/quagga.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />

@Html.StarkAjaxFormSubmiter("frmCurrencies", "tbCurrencies", true, "Action Successfully Executed")

@{
    if (!Ajax.IsThisAjaxRequest())
    {
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.Title</small>
            </h1>
        </section>
    }
}

<script type="text/javascript">
    $(function () {
        $('select').searchableOptionList({
            maxHeight: '250px'
        });
    });


    $(document).ready(function () {

        //  load_quaga();
    });
    //clear things
    function clearTextbox() {
        $("#Name").val('');
    }
</script>
@using (Html.BeginForm("Create", "Currencies", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmCurrencies" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Fill Currency Form</h3>
                    </div>
                    <div role="form">
                        <div class="box-body">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "Name" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CurrencySymbol, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.CurrencySymbol, new { htmlAttributes = new { @class = "form-control", @id = "CurrencySymbol" } })
                                @Html.ValidationMessageFor(model => model.CurrencySymbol, "", new { @class = "text-danger" })

                            </div>
                            <div class="box-footer">
                                @Html.StarkInputButtion("Create New", "submit", "btn btn-primary", "")
                                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
