@model ShopMate.Models.Invoice

@{
    ViewBag.Title = "Edit";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}

<script src="~/Content/ckeditor/ckeditor.js"></script>

@Html.StarkAjaxFormSubmiter("frmInvoice", "tbInvoice", true, "Action Successfully Executed")

 
@{
    if (!Ajax.IsThisAjaxRequest())
    {
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.Title</small>
            </h1>
        </section>
    }
}

<script type="text/javascript">
        $(function () { 
            $('select').searchableOptionList({
                maxHeight: '250px'
            });
    });

    $(document).ready(function () {
        $('#RefreshPage').click(function () {

            setTimeout(
                function () {
                    window.location.reload(true);
                }, 800);
        });
    });
</script>

@using (Html.BeginForm("Edit", "Invoice", FormMethod.Post, new { enctype = "multipart/form-data",id = "frmInvoice"  }))
{
    @Html.AntiForgeryToken()

        <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Edit Invoice</h3>
                    </div> 
                    <!-- form start -->
  
                    <div role="form">
                        <div class="box-body">
                              

                            <div class="form-group">
                                @Html.LabelFor(model => model.IsBilled, new { @class = "" })
                                @Html.EditorFor(model => model.IsBilled)  
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserId, new { @class = "" })
                                @Html.EditorFor(model => model.UserId)  
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsPurchaseOrSale, new { @class = "" })
                                @Html.EditorFor(model => model.IsPurchaseOrSale)  
                            </div>
                            <div class="form-group">
                                @Html.Hidden("AddedBy", Env.GetUserInfo("userid")) 
                            </div>
                            <div class="form-group">
                                @Html.Hidden("DateAdded", DateTime.Now) 
                            </div>
                            <div class="form-group">
                                @Html.Hidden("DateModied", DateTime.Now) 
                            </div>
                            <div class="form-group">
                                @Html.Hidden("ModifiedBy", Env.GetUserInfo("userid")) 
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.WarehouseId, new { @class = "" })
                                @Env.WareHouseUC(Model.WarehouseId)
 
 
                            </div>


                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            <input type="submit" id="RefreshPage" value="Save" class="btn btn-primary">
                            @*@Html.StarkInputButtion("Save", "submit", "btn btn-primary", "")*@
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}


