@model ShopMate.Models.Invoice

@{
    ViewBag.Title = "Create";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}

<script src="~/Content/ckeditor/ckeditor.js"></script>

@*@section ScriptsOrCss
    {
          <script src="~/Scripts/quagga.js"></script>
    }*@

@Html.StarkAjaxFormSubmiter("frmInvoice", "tbInvoice", true, "Action Successfully Executed")

@{
    if (!Ajax.IsThisAjaxRequest())
    {
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.Title</small>
            </h1>
        </section>
    }
}
<script type="text/javascript">
    $(document).on("keypress", function (e) {
        if (e.which == 13) {
            document.getElementById("btnPlus").click();
        }
    });
    let data = '';

    window.onload = function () {
        window.document.body.addEventListener('keydown', function (event) {


            if (event.ctrlKey) {
                event.preventDefault();
                return;
            }

            //data += event.key;
            //console.log(data);
        });
    }


    $(function () {
        $('select').searchableOptionList({
            maxHeight: '250px'
        });
    });
    $(document).ready(function () {
        $('#RefreshPage').click(function () {

            setTimeout(
                function () {
                    window.location.reload(true);
                }, 800);
        });
    });

</script>
@using (Html.BeginForm("NewInvoice", "Invoice", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmInvoice" }))
{
    @Html.AntiForgeryToken()
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Fill Invoice Form</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <form id="NewOrderForm">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Customer Name</label>
                                        @*@Html.LabelFor(model => model.UserId, new { @class = "" })*@
                                        @*@Html.DropDownList("CustomerUserId", null, new { @Id = "customerid" })<br />*@
                                        @Html.DropDownList("CustomerUserId", null, "- Select Customer -", new { @id = "customerid" })<br />
                                        @Html.StarkDropDownAjaxLink("/User/CreateCustomer", "AddMore", "")
                                        @*, " -Select Customer- "*@
                                    </div>
                                </div>


                                <div class="col-md-8">
                                    <div class="form-group" style="display:none;">
                                        @Html.LabelFor(model => model.CustomerVatReg, new { @class = "" })
                                        <input type="text" id="vatReg" name="vatreg" placeholder="Customer Vat Reg" class="form-control" />

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" style="display:none;">
                                        @Html.LabelFor(model => model.ProjectNumber, new { @class = "" })
                                        <input type="number" value="0" id="ProjectNumber" name="ProjectNumber" placeholder="Project number" class="form-control" />

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Quotation No</label>
                                        @*@Html.LabelFor(model => model.orderNumber, new { @class = "" })*@
                                        <input type="number" value="" id="OrderNumber" name="OrderNumber" placeholder="Quotation" class="form-control" readonly />
                                    </div>
                                </div>


                                <div class="col-md-12 column" style="margin:5px 0px 5px 0px">
                                    @*<div class="col-md-6" id="selectedCurrencyId">
                <div class="form-group">
                    <label>Currency</label>
                    @Html.DropDownList("CurrencyId", null, "- Select Currency -", new { @id = "currencyid" })<br />
                </div>
            </div>*@
                                    <table class="table table-bordered table-hover" id="tablogic">
                                        <thead>
                                            <tr>
                                                <td style="width:25%">Product</td>
                                                <th style="width:30%">Description</th>
                                                @*<th style="width:10%" display:none;">RemainingQuantity</th>*@
                                                <th style="width:20%">Unit Price</th>
                                                <th style="width:15%">Quantity</th>
                                                <th style="width:10%">VAT</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td id="partialDiv ">

                                                    @Html.DropDownList("ProductId", null, "- Select Product -", new { @id = "productid" })<br />


                                                </td>
                                                <td class="form-group" style="display:none;">
                                                    <input type="text" id="Name" name="Name" placeholder="" class="form-control" readonly />
                                                </td>
                                                <td>
                                                    <input type="text" id="description" name="description" placeholder="Description" class="form-control" readonly />
                                                </td>
                                                <td style="display:none;">
                                                    <input type="number" id="remainingquantity" name="remainingquantity" placeholder="remainingquantity" class="form-control" readonly />
                                                </td>

                                                <td>
                                                    <input type="number" id="rate" name="rate" placeholder="Rate" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="number" id="Quantity" name="quantity" placeholder="Quantity" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="number" id="vat" name="vat" placeholder="vat" class="form-control" />
                                                    @*<select id="vat" name="vat">
                                <option value="1">No</option>
                                <option value="2">Yes</option>
                            </select>*@
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="col-md-12">
                                        <a id="addList" class="btn btn-primary">Add To List</a>
                                    </div>
                                </div>
                                <div class="col-md-12 column" style="margin:5px 0px 5px 0px">
                                    <table id="materialsDetailsTb" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th style="width:30%">Name</th>
                                                <th style="width:30%">Description</th>
                                                <th style="width:20%">Quantity</th>
                                                <th style="width:15%">Unit Price</th>
                                                <th style="width:25%">VAT</th>
                                                <th style="width:10%">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <hr />
                                @*<div class="col-md-12">*@

                                @*<div class="col-md-6 col-md-offset-6">*@
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.subtotal, new { @class = "" })
                                        <input type="number" value="0.00" id="subtotal" name="subtotal" placeholder="Subtotal" class="form-control" />

                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.vat, new { @class = "" })
                                        <input type="number" value="0.00" id="vattotal" name="vattotal" placeholder="VAT Total" class="form-control" />

                                    </div>
                                    @*<div class="form-group" style="display:none;">
                @Html.LabelFor(model => model.discount, new { @class = "" })

                <input type="number" id="discount" value="0.00" name="discount" placeholder="discount" class="form-control" />

            </div>*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.total, new { @class = "" })
                                        <input type="number" value="0.00" id="total" name="total" placeholder="Total" class="form-control" />

                                    </div>

                                    <div class="form-group" id="currencytotals" style="display:none;">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.currencysubtotal, new { @class = "" })
                                            <input type="number" value="0.00" id="currencysubtotal" name="subtotal" placeholder="Subtotal" class="form-control" />

                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.currencyvat, new { @class = "" })
                                            <input type="number" value="0.00" id="currencyvattotal" name="vattotal" placeholder="VAT Total" class="form-control" />

                                        </div>
                                        @*<div class="form-group" style="display:none;">
                    @Html.LabelFor(model => model.currencydiscount, new { @class = "" })

                    <input type="number" id="currencydiscount" value="0.00" name="discount" placeholder="discount" class="form-control" />

                </div>*@
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.currencytotal, new { @class = "" })
                                            <input type="number" value="0.00" id="currencytotal" name="total" placeholder="Total" class="form-control" />

                                        </div>
                                    </div>
                                    <div class="form-group" style="display:none;">
                                        @Html.LabelFor(model => model.payment, new { @class = "" })

                                        <input type="number" id="payments" value="0" name="payments" placeholder="Payments/Credits" class="form-control" />

                                    </div>
                                    <div class="form-group" style="display:none;">
                                        @Html.LabelFor(model => model.balance, new { @class = "" })

                                        <input type="number" id="balance" value="0" name="balance" placeholder="Balance Due" class="form-control" />

                                    </div>
                                </div>
                                @*</div>*@
                                <div class="col-md-4">

                                    <div class=" form-group" hidden>
                                        <label>Gutter Specification:</label>
                                        @*@Html.LabelFor(model => model.Remarks, new { @class = "" })*@
                                        @Html.TextAreaFor(model => model.Remarks, new { @Id = "remarks" })

          
                                    </div>
                                    <div class="form-group">
                                        <label>Invoice Currency</label>
                                        @*@Html.LabelFor(model => model.UserId, new { @class = "" })*@
                                        @*@Html.DropDownList("CustomerUserId", null, new { @Id = "customerid" })<br />*@
                                        @Html.DropDownList("CurrencyId", null, "- Select Currency -", new { @id = "currencyid" })<br />
                                        @*@Html.StarkDropDownAjaxLink("/User/CreateCustomer", "AddMore", "")*@
                                        @*, " -Select Customer- "*@
                                    </div>
                                </div>

                                <div class="col-md-4" style="display:none;">
                                    <div class="form-group">
                                        <label>Ware house</label>
                                        @Html.DropDownList("WarehouseId", null, new { @Id = "wareId" })<br />
                                    </div>
                                </div>
                                <div class="col-md-4" style="display:none;">
                                    <div class="form-group">
                                        <label>Payment Method</label>
                                        @Html.DropDownList("PaymentMethods", null, new { @Id = "PaymentMethodId" })<br />
                                    </div>
                                </div>
                                <div class="col-md-4" >
                                    <div class="form-group">
                                        <label>Payment Period</label>
                                        @Html.DropDownList("InvoicePaymentsMethod", null, "- Select Payment Period -", new { @Id = "InvoicePaymentsMethod" })<br />
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Hidden("AddedBy", Env.GetUserInfo("userid"))
                                </div>
                                <div class="form-group">
                                    @Html.Hidden("DateAdded", DateTime.Now)
                                </div>
                                <div class="form-group">
                                    @Html.Hidden("DateModied", DateTime.Now)
                                </div>
                                <div class="form-group">
                                    @Html.Hidden("ModifiedBy", Env.GetUserInfo("userid"))
                                </div>
                            </div>
                            <div class="box-footer">
                                <input type="submit" id="saveOrder" value="Create New Sales Invoice" class="btn btn-primary">
                                @*<button id="saveOrder" type="submit" class="btn btn-primary">Create New Sales Invoice</button>*@
                                @*@Html.ActionLink("Back to List", "Sale", null, new { @class = "btn btn-primary" })*@
                                <div class="btn-group">
                                    <a href="~/Invoice/Sale" class="btn btn-default">Back To List</a>
                                </div>
                            </div>
                        </div>
                    </form>







                </div>
            </div>
        </div>
    </section>
}

<script>
    var cashToCurrencyConvertorUrl = '/Invoice/CashToCurrencyConvertor';
    var currencyToCashConvertorUrl = '/Invoice/CurrencyToCashConvertor';
    $(document).ready(function () {

        $("#productid").on("change", function () {
            var selectedProductId = $(this).children("option:selected").val();
            var value = $('#dropDownId:selected').val();
            console.log(value);
            $.ajax(
                {
                    url: '/Product/GetDetails?id=' + $(this).children("option:selected").val(),
                    type: 'GET',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        //alert(data.price);
                        //$("#partialDiv").html(data);
                        $("#rate").val(data.price.toFixed(2));
                        $("#description").val(data.description);
                        $("#Name").val(data.Name);
                        $("#vat").val(data.taxId);

                    },
                    error: function () {
                        alert("error");
                    }
                });
        });
    });


    $(document).ready(function()
    {
        $("#discount").on("input", function () {
       var oldAmount = $("#subtotal").val();
        var oldtax = $("#vattotal").val();
        var discount = $("#discount").val();
        var oldAmountWithTax = parseFloat(oldAmount) /*+ parseFloat(oldtax)*/;
         var total = parseFloat(oldAmountWithTax) - parseFloat(discount);
         $("#total").val(total.toFixed(2));

});
        });
      $(document).ready(function()
    {
        $("#currencyid").on("change", function()
        {
            var selectedCurrencyId = $(this).children("option:selected").val();
              var converturl;
         var oldcurrencyIdsaved = parseFloat($("#oldcurrenncyid").val());
         console.log(oldcurrencyIdsaved);
         if (oldcurrencyIdsaved == "0") {
             converturl = cashToCurrencyConvertorUrl;
             console.log("tiriyo1" + " " + oldcurrencyIdsaved);
         }
         else {
             converturl = cashToCurrencyConvertorUrl;
             //selectedCurrencyId = oldcurrencyIdsaved;
              console.log("tiriyo2");
         }

            var value = $('#dropDownId:selected').val();          
            console.log(value);
           $.ajax({
                type: "POST",
                url: converturl,
                contentType: "application/json",
               data: JSON.stringify({
                   "selectedCurrency":selectedCurrencyId,
                   "subtotal": $("#subtotal").val(),
                   "vattotal": $("#vattotal").val(),
                   //"discount": $("#discount").val(),
               }),
                datatype: "json",
                success: function (data) {
                    //result[0].msg
                    $("#currencysubtotal").val(data[0].subtotal.toFixed(2));
                    $("#currencyvattotal").val(data[0].totalvat.toFixed(2));
                  /*  $("#currencydiscount").val(data[0].discount.toFixed(2));*/
                    var newTotal = data[0].subtotal.val;
                    var subtotal = $("#currencysubtotal").val();
                    var vattotal = $("#currencyvattotal").val();
                    var newtotal = parseFloat(subtotal);
                    $("#currencytotal").val(newtotal.toFixed(2));
                    $("#oldcurrenncyid").val(selectedCurrencyId);
                    //$("#currencytotals").show();
                    //CustomerChange();
                },
                error: function () {
                    console.log(error);
                    alert("Dynamic content load failed.");
                }
            });
        });
    });

    $(document).ready(function () {

        $("#customerid").on("change", function () {
            var selectedProductId = $(this).children("option:selected").val();
            var value = $('#dropDownId:selected').val();
            console.log(value);
            $.ajax(
                {
                    url: '/Quotation/pGetDetails?id=' + $(this).children("option:selected").val(),
                    type: 'GET',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        var mySelect = "";
                        $.each(data.salesorders, function (index, value) {
                            mySelect = mySelect + ", " + value.Id
                        });

                        var oderPromt = prompt("Please enter an Quotation Number" + mySelect);

                        if (oderPromt == null || oderPromt == "") {
                            txt = "User cancelled the prompt.";
                        } else {
                            $("#OrderNumber").val(oderPromt);

                            $.ajax(
                                {
                                    url: '/Quotation/GetQuotationItems?id=' + oderPromt,
                                    type: 'GET',
                                    data: "",
                                    contentType: 'application/json; charset=utf-8',
                                    success: function (data) {
                                        // alert("u here!!!!")
                                        var mySelect = "";
                                        var obj = $.parseJSON(data);
                                        //console.log(obj);

                                        //$.each(data, function(index, value) {
                                        $.each(obj, function (index, value) {


                                            var tx = 0.00;
                                            var totalvat = 0.00;
                                            if ($(value.taxId) == 5) {
                                                tx = 0.00;
                                            }
                                            else if ($(value.taxId) == 2) {

                                                vatx = vatx + value.unitTax;
                                                tx = parseFloat((value.Quantity) * parseFloat(value.UnitPrice)) * 0.150;
                                                totalvat = (tx) + (vatx);
                                                $("#vattotal").val(totalvat.toFixed(2));
                                            }
                                            var am = (value.Quantity) * (value.UnitPrice);
                                            var amg = am + tx;
                                            //var amgf = amg.toFixed(2);
                                            var gtx = vat;

                                            if (parseFloat(value.remainingquantity) < parseFloat(value.qty)) { alert("Not enough Stock to perfom action") }
                                            else {
                                                var productItem = '<tr><td>' + value.ProductId + '</td><td>' + value.Name + '</td><td>' + value.Description + '</td><td>' + value.Quantity + '</td><td>' + value.UnitPrice + '</td><td>' + value.unitTax + '</td><td>' + amg.toFixed(2) + '</td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';

                                                $("#materialsDetailsTb tbody").append(productItem);
                                                //$("#tablogic").hide();
                                                //$("#addList").hide();
                                                var oldAmount = $("#subtotal").val();
                                                var Sutotal = parseFloat(oldAmount) + parseFloat(am);
                                                var oldtax = $("#vattotal").val();
                                                var taxs = parseFloat(oldtax) + parseFloat(value.unitTax);
                                                var total = parseFloat(Sutotal) /*+ parseFloat(taxs)*/;
                                                var bal = parseFloat(total);
                                                $("#subtotal").val(Sutotal.toFixed(2));
                                                $("#vattotal").val(taxs.toFixed(2));
                                                $("#total").val(total.toFixed(2));
                                                $("#balance").val(bal.toFixed(2));
                                                clearArtisan();
                                                //alert("u here!!!!")
                                                //GrossAmount(am, gtx);
                                                //clearArtisan();
                                            }
                                        });
                                    },
                                    //error: function()
                                    error: function (req, textStatus, errorThrown) {
                                        alert("error");
                                    }
                                });
                        }
                        //$.each(data.salesorders, function(index, value)
                        //{
                        //    //alert(index + " " + value);
                        //    $('#salesOrderNumber').append(`<option value="${value.Id}">${value.Id}</option>`);
                        //});
                    },
                    //error: function()
                    error: function (req, textStatus, errorThrown) {
                        alert("error");
                    }
                });
        });
    });

    //get the customer vat reg

    //Add Multiple Artisan.
     $(".dataTables_filter input").on("keypress", function (e) {
            if (e.which == 13) {
                document.getElementById("addList").click();
            }
     });
     window.onload = function () {
        window.document.body.addEventListener('keydown', function (event) {


            if (event.ctrlKey) {
                event.preventDefault();
                return;
            }

            //data += event.key;
            //console.log(data);
        });
    }
    $("#addList").click(function (e) {
        e.preventDefault();

        var tx = 0.00;
        var totalvat = 0.00;
        if ($.trim($("#Quantity").val()) == "") return;
        if ($("#vat").val() == 5) {
            tx = 0.00;
        }
        else if ($("#vat").val() == 2) {

            var qty = $("#Quantity").val();
            var vatx = $("#vattotal").val();
            var rat = $("#rate").val();
            var actRate = (parseFloat(rat) / 1.000);
            tx = (parseFloat(qty) * parseFloat(actRate)) * 0.145;
            totalvat = parseFloat(tx) + parseFloat(vatx);
            //$("#vattotal").val(totalvat.toFixed(2));
        }
        var produtId = $("#productid").val(),
            name = $("#Name").val(),
            description = $("#description").val(),
            quantity = $("#Quantity").val(),
            rate = $("#rate").val(),
            vat = tx,
            remainingquantiy = $("#remainingquantity  ").val(),
            materialsDetailsTbBody = $("#materialsDetailsTb tbody");
        var am = parseFloat(quantity) * parseFloat(rate);
        var remainingquantiy   = parseFloat(remainingquantiy);
        quantity = parseFloat(quantity);
        var amg = am; /*+ tx*/;
        var gtx = vat;

        if (remainingquantiy < quantity) {

            alert("Not enough Stock to perfom Action");
        } else {
            var productItem = '<tr><td>' + produtId + '</td><td>' + name + '</td><td>' + description + '</td><td>' + quantity + '</td><td>' + rate + '</td><td>' + vat.toFixed(2) + '</td><td>' + amg.toFixed(2) + '</td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';
            materialsDetailsTbBody.append(productItem);
            GrossAmount(am, gtx);
            clearArtisan();
        }




    });



    function clearArtisan() {
        $("#description").val('');
        $("#Quantity").val('');
        $("#rate").val('');
        $("#vat").val('');
    }
     function GrossAmount(amount, tax) {
         var oldAmount = $("#subtotal").val();
         var newAmount = parseFloat(amount)/* - parseFloat(tax)*//*;*/
         var Sutotal = parseFloat(oldAmount) + parseFloat(newAmount);
         var oldtax = $("#vattotal").val();
         var taxs =  parseFloat(oldtax) + parseFloat(tax);
         var total = parseFloat(Sutotal) + parseFloat(taxs);
         var bal = parseFloat(total);
         $("#subtotal").val(Sutotal.toFixed(2));
         $("#vattotal").val(taxs.toFixed(2));
         $("#total").val(total.toFixed(2));
         $("#balance").val(bal.toFixed(2));

    }
     function balance() {
        var paid = $("#payments").val();

        var tot = $("#balance").val();

         var bala = tot - parseFloat(paid);
         $("#balance").text(bala.toFixed(2));


    }

    // After Add A New Order In The List, If You Want, You Can Remove It.
    $(document).on('click', 'a.deleteItem', function (e) {
        e.preventDefault();
        var $self = $(this);
        //var tamount = $(this).find('td:eq(6)').html();
        //var tamount = $(this).attr('data-itemamg');
        var amt = $self.parents('tr').find('td:eq(6)').html();
        var taxamt = $self.parents('tr').find('td:eq(5)').html();
        GrossAmount(-amt,-taxamt);
        if ($(this).attr('data-itemId') == "0") {
            $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                $(this).remove();
                //GrossAmount(-tamount,0);
//Norlin come here
            });
        }
    });
    //After Click Save Button Pass All Data View To Controller For Save Database
    function saveOrder(data) {
         var customerids = $("#customerid").val();
        if (customerids >= 0) {
        return $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: "/Invoice/NewInvoice",
            data: data,
            success: function (result) {
                if (result[0].msg == "Submitted"){
                              $.sticky('<br/> Sale Successful ', { stickyClass: 'success' });
                    if (result[0].isformal == true) {
                        window.location = "@Env.GetSiteRoot()/Invoice/Printformal/" + result[0].value;
                    }
                    else {
                       window.location = "@Env.GetSiteRoot()/Invoice/PrintInformal/" + result[0].value;
                    }

                }

                @*alert(result);
                location.reload();
                window.location = "@Env.GetSiteRoot()/Invoice/print/" + data[0].value;*@
            },
            error: function (req, textStatus, errorThrown) {
                //this is going to happen when you send something different from a 200 OK HTTP
                $.sticky('<br/> ! Select Customer first. <br/>  ', { stickyClass: 'error' });
                 //$.sticky('<br/> ! Not enough stock to perform action <br/>  ', { stickyClass: 'error' });
            }
        });
        }
        else {
                $.sticky('<br/> ! Select Customer first. <br/>  ', { stickyClass: 'error' });
             }
    }
    //Collect Multiple JobCard List For Pass To Controller
    $("#saveOrder").click(function (e) {

        e.preventDefault();


        var invoicenaterialArr = [];

        invoicenaterialArr.length = 0;



        $.each($("#materialsDetailsTb tbody tr"), function () {
            invoicenaterialArr.push({
                ProductId: $(this).find('td:eq(0)').html(),
                //Name: $(this).find('td:eq(1)').html(),
                description: $(this).find('td:eq(2)').html(),
                quantity: $(this).find('td:eq(3)').html(),
                rate: $(this).find('td:eq(4)').html(),
                vat: $(this).find('td:eq(5)').html()
            });
        });

         var data1 = JSON.stringify({
            id: $("productid").val(),
            currencyId: $("#currencyid").val(),
        });


        var data = JSON.stringify({
            customerid: $("#customerid").val(),
            currencyid: $("#currencyid").val(),
            orderNo: $("#OrderNumber").val(),
            vatReg: $("#vatReg").val(),
            ProjectNumber: $("#ProjectNumber").val(),
            subtotal: $("#subtotal").val(),
            currencysubtotal: $("#currencysubtotal").val(),
            vat: $("#vattotal").val(),
            currencyvat: $("#currencyvattotal").val(),
           total: $("#total").val(),
           currencytotal: $("#currencytotal").val(),
            payment: $("#payments").val(),
            discount: $("#discount").val(),
            currencydiscount: $("#currencydiscount").val(),
           balance: $("#balance").val(),
            wareId: $("#wareId").val(),
            PaymentMethodId: $("#PaymentMethodId").val(),
            salesrepid: $("#salesrepid").val(),
            remarks: $("#remarks").val(),
            InvoicePaymentsMethod: $("#InvoicePaymentsMethod").val(),
            invoicemat: invoicenaterialArr

        });
         //console.log(customerid);
         //   console.log(orderNo);
         //   console.log(vatReg);
         //   console.log(ProjectNumber);
         //   console.log(subtotal);
         //   console.log(vat);
         //   console.log(total);
         //   console.log(payment);
         //   console.log(wareId);
         //   console.log(salesrepid);
            //console.log(response);

        $.when(saveOrder(data)).then(function (response) {
            console.log(response);
        }).fail(function (err) {
            console.log(err);
        });
    });
</script>